@font-face {
  font-family: 'PlumbMain';
  src: url("../fonts/Plumb/Plumb-Bold.eot");
  src: url("../fonts/Plumb/Plumb-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Plumb/Plumb-Bold.woff2") format("woff2"), url("../fonts/Plumb/Plumb-Bold.woff") format("woff"), url("../fonts/Plumb/Plumb-Bold.ttf") format("truetype"), url("../fonts/Plumb/Plumb-Bold.otf") format("opentype"), url("../fonts/Plumb/Plumb-Bold.svg#Plumb-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491; }
@font-face {
  font-family: 'PlumbMain';
  src: url("../fonts/Plumb/Plumb-Regular.eot");
  src: url("../fonts/Plumb/Plumb-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Plumb/Plumb-Regular.woff2") format("woff2"), url("../fonts/Plumb/Plumb-Regular.woff") format("woff"), url("../fonts/Plumb/Plumb-Regular.ttf") format("truetype"), url("../fonts/Plumb/Plumb-Regular.otf") format("opentype"), url("../fonts/Plumb/Plumb-Regular.svg#Plumb-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0491; }
.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }
  .embed-responsive::before {
    display: block;
    content: ""; }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; }

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%; }

.embed-responsive-16by9::before {
  padding-top: 56.25%; }

.embed-responsive-4by3::before {
  padding-top: 75%; }

.embed-responsive-1by1::before {
  padding-top: 100%; }

.img-fluid {
  height: auto;
  display: block;
  max-width: 100%; }

.ico-svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.text-left {
  text-align: left !important; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

.breadcrumb {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  text-align: center;
  margin: 0; }
  .breadcrumb > li {
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 0;
    display: inline-block; }
    .breadcrumb > li:after {
      content: '>>';
      padding: 0 8px; }
    .breadcrumb > li:last-child:after {
      display: none; }
    .breadcrumb > li > a {
      color: #fff;
      text-decoration: underline; }
      .breadcrumb > li > a:hover {
        text-decoration: none; }

.btn {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 9px 30px;
  user-select: none;
  color: #0f5baa;
  text-align: center;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  background: transparent;
  border: 1px solid #ccdeee;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }
  .btn:hover {
    color: #fff;
    background: #2575c7;
    border-color: #2575c7;
    text-decoration: none; }
  .btn:active {
    background: #2575c7;
    border-color: #2575c7;
    -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.26);
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.26); }
  .btn:focus, .btn.focus {
    outline: 0; }

.btn-sm {
  padding: 6px 18px; }

.btn-md {
  padding: 14px 30px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }

.btn-arrow-right {
  padding-right: 60px; }
  .btn-arrow-right span {
    padding-right: 15px;
    border-right: 1px solid #0f5baa; }
  .btn-arrow-right i {
    top: 50%;
    right: 30px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    margin-top: -10px;
    position: absolute;
    display: inline-block; }
  .btn-arrow-right .ico-svg {
    fill: #0f5baa; }
  .btn-arrow-right:hover span {
    border-right-color: #fff; }
  .btn-arrow-right:hover .ico-svg {
    fill: #fff; }

.btn-blue {
  color: #fff;
  background: #0f5baa;
  border-color: #0f5baa; }
  .btn-blue:hover {
    background: #2575c7;
    border-color: #2575c7; }
  .btn-blue:active {
    background: #2575c7;
    border-color: #2575c7; }

.fancybox-close-small {
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  font-size: 0;
  outline: none !important;
  line-height: 0;
  color: transparent;
  border: 1px solid #cddfee;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0;
  -o-transition: 0;
  transition: 0; }
  .fancybox-close-small:after, .fancybox-close-small:before {
    top: 50%;
    left: 50%;
    width: 12px;
    height: 1px;
    z-index: 10;
    margin-top: -1px;
    margin-left: -6px;
    position: absolute;
    display: inline-block;
    background: #0f5baa; }
  .fancybox-close-small:after {
    content: '' !important;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: 0;
    -o-transition: 0;
    transition: 0; }
  .fancybox-close-small:before {
    content: '' !important;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: 0;
    -o-transition: 0;
    transition: 0; }
  .fancybox-close-small:hover {
    background: #0f5baa; }
    .fancybox-close-small:hover:after {
      opacity: 1;
      background: #fff;
      visibility: visible;
      display: inline-block;
      content: '' !important;
      -webkit-transition: 0;
      -o-transition: 0;
      transition: 0; }
    .fancybox-close-small:hover:before {
      background: #fff;
      content: '' !important;
      -webkit-transition: 0;
      -o-transition: 0;
      transition: 0; }
  .fancybox-close-small:active {
    -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.26);
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.26); }

.btn-row {
  margin: 0;
  padding: 20px 0 0 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  text-align: center; }
  .btn-row > li {
    margin-bottom: 10px; }
    .btn-row > li:last-child {
      margin-bottom: 0; }
  .btn-row .btn {
    min-width: 170px; }
  @media (min-width: 576px) {
    .btn-row li {
      padding: 0 5px;
      margin-bottom: 0;
      display: inline-block; }
    .btn-row .btn {
      width: auto;
      min-width: inherit; } }

@media (max-width: 1023px) {
  .table-responsive {
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-bottom: 20px;
    border: 1px solid #f4f7fa;
    -ms-overflow-style: -ms-autohiding-scrollbar; }
    .table-responsive .table {
      min-width: 700px;
      margin-bottom: 0; } }
.table {
  width: 100%;
  max-width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 20px;
  border-collapse: collapse; }
  .table th {
    color: #999;
    min-width: 130px;
    font-weight: 400;
    text-align: left;
    padding: 10px 15px;
    background: #fff;
    border-bottom: 1px solid #f4f7fa; }
    .table th:first-child {
      text-align: center;
      border-right: 1px solid #f4f7fa; }
  .table td {
    background: #fff;
    min-width: 90px;
    padding: 10px 15px;
    border-bottom: 1px solid #f4f7fa; }
    .table td:first-child {
      border-right: 1px solid #f4f7fa; }
  .table td[rowspan] {
    background: #fff; }
  .table tr:nth-child(even) td {
    background: #f4f7fa; }
    .table tr:nth-child(even) td.table-subtitle {
      color: #000;
      background: #fff;
      text-align: left;
      font-size: 13px;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: -0.5px;
      text-transform: uppercase; }
  .table tr:nth-child(even) td[rowspan] {
    background: #fff; }
  @media (min-width: 768px) {
    .table th {
      padding: 16px 30px; }
    .table td {
      padding: 16px 30px; } }

.form-control {
  margin: 0;
  width: 100%;
  color: #aaa;
  outline: none;
  font-size: 15px;
  text-align: center;
  line-height: 20px;
  padding: 14px 15px;
  background: #f7f7f7;
  display: inline-block;
  border: 1px solid #f7f7f7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
  .form-control::-moz-placeholder {
    color: #aaa;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #aaa; }
  .form-control::-webkit-input-placeholder {
    color: #aaa; }
  .form-control::-ms-clear {
    display: none;
    width: 0;
    height: 0; }
  .form-control:hover {
    color: #aaa;
    background: #e6e6e6;
    border-color: #e6e6e6; }
  .form-control:focus {
    color: #aaa;
    background: #f7f7f7;
    border-color: #e6e6e6; }
    .form-control:focus::-moz-placeholder {
      color: transparent;
      opacity: 1; }
    .form-control:focus:-ms-input-placeholder {
      color: transparent; }
    .form-control:focus::-webkit-input-placeholder {
      color: transparent; }

.form-gray {
  background: #fff;
  border-color: #fff; }
  .form-gray:hover {
    background: #fff; }
  .form-gray:focus {
    background: #fff; }

.form-group {
  margin-bottom: 10px; }

.btn-group {
  padding-top: 25px; }
  .btn-group .btn {
    width: 100%; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #333;
  font-family: "Open Sans", Arial, sans-serif;
  background-color: #fff;
  font-size: 0.875rem;
  line-height: 1.785; }

.container {
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  .container.container-mobile {
    padding: 0;
    max-width: inherit; }
  @media (min-width: 576px) {
    .container {
      max-width: inherit;
      width: 540px; } }
  @media (min-width: 768px) {
    .container {
      width: 610px; }
      .container.container-mobile {
        padding-left: 15px;
        padding-right: 15px; } }
  @media (min-width: 1024px) {
    .container {
      width: 900px; } }
  @media (min-width: 1230px) {
    .container {
      width: 1200px; } }

.page {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
  line-height: 1.2; }

h1, .h1 {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  position: relative;
  font-family: "PlumbMain", Arial, sans-serif;
  text-transform: uppercase; }

h2, .h2 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  position: relative;
  margin-bottom: 30px;
  font-family: "PlumbMain", Arial, sans-serif;
  text-transform: uppercase; }
  h2 span, .h2 span {
    position: relative;
    padding-bottom: 12px;
    display: inline-block; }
    h2 span:before, .h2 span:before {
      left: 0;
      right: 0;
      bottom: 0;
      height: 5px;
      content: '';
      display: block;
      position: absolute;
      background: white;
      /* Old browsers */
      background: -moz-linear-gradient(left, white 0%, #cecece 51%, white 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(left, white 0%, #cecece 51%, white 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, white 0%, #cecece 51%, white 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
      /* IE6-9 */ }

h3, .h3 {
  color: #000;
  font-size: 13px;
  font-weight: 700;
  line-height: 19px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "PlumbMain", Arial, sans-serif; }
  h3.fs-15, .h3.fs-15 {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 30px; }

h4, .h4 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px; }

h5, .h5 {
  font-size: 1rem;
  margin-bottom: 1rem; }

h6, .h6 {
  font-size: 0.875rem;
  margin-bottom: 0.75rem; }

p {
  margin: 0 0 15px 0; }

a {
  outline: none;
  color: #0f5baa;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: inside; }
  ul > li {
    margin-bottom: 10px; }
  ul ul {
    margin: 0;
    padding: 10px 0 0 0;
    list-style: none; }
    ul ul li {
      margin-bottom: 0; }
  ul.nomark {
    list-style: none; }

.fs-15 {
  font-size: 15px;
  line-height: 20px; }

.mb-10 {
  margin-bottom: 10px; }

dl {
  color: #333;
  width: 100%;
  padding: 0;
  margin: 0 0 10px 0; }
  dl:before, dl:after {
    content: " ";
    display: table; }
  dl:after {
    clear: both; }
  dl dt {
    margin: 0;
    color: #333;
    display: block;
    font-weight: 600; }
  dl dd {
    margin: 0;
    display: block; }
  @media (min-width: 768px) {
    dl {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex; }
      dl dt {
        width: 145px;
        max-width: 145px; }
      dl dd {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1; } }

.page.nav-open {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  position: fixed; }
  .page.nav-open .nav-close {
    display: block; }
  .page.nav-open .header:before {
    top: 0;
    left: 0;
    content: '';
    z-index: 10;
    height: 100%;
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.8); }
  .page.nav-open .header__menu {
    display: block; }
  .page.nav-open .header__toggle span {
    position: relative; }
    .page.nav-open .header__toggle span:nth-child(1) {
      top: 5px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .page.nav-open .header__toggle span:nth-child(2) {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .page.nav-open .header__toggle span:nth-child(3) {
      display: none; }
@media (min-width: 1230px) {
  .page {
    position: relative; }
    .page.nav-open {
      overflow: auto;
      position: relative; }
      .page.nav-open .nav-close {
        display: none; }
      .page.nav-open .header:before {
        display: none; } }

.header {
  z-index: 1010;
  background: #fff;
  position: relative;
  padding-bottom: 20px; }
  .header .container {
    padding-top: 85px;
    position: relative; }
  .header__toggle {
    top: 25px;
    left: 15px;
    width: 40px;
    font-size: 0;
    line-height: 0;
    display: block;
    color: #999999;
    position: absolute;
    text-align: center;
    text-decoration: none; }
    .header__toggle i {
      width: 40px;
      height: 40px;
      display: block;
      border: 1px solid #ccdeee;
      padding: 14px 12px 8px 12px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px; }
      .header__toggle i span {
        width: 100%;
        height: 2px;
        margin-bottom: 3px;
        display: inline-block;
        background: #0f5baa; }
    .header__toggle > span {
      color: #999;
      display: none;
      font-size: 12px;
      line-height: 16px; }
  .header__logo {
    width: 270px;
    display: block; }
  .header__contact {
    top: 25px;
    right: 15px;
    margin: 0;
    list-style: none;
    position: absolute;
    text-align: center;
    padding: 10px 0 0 0; }
    .header__contact > li {
      margin-bottom: 0; }
      .header__contact > li:last-child {
        display: none; }
    .header__contact .tel {
      color: #000;
      font-size: 18px;
      font-weight: 800;
      line-height: 20px;
      text-decoration: none; }
      .header__contact .tel span {
        color: #0f5baa; }
  .header__menu {
    top: 0;
    left: 0;
    bottom: 0;
    width: 285px;
    z-index: 1000;
    display: none;
    position: fixed;
    background: #fff; }
    .header__menu:before {
      top: 0;
      left: 0;
      bottom: 0;
      margin-left: -500px;
      content: '';
      z-index: 10;
      height: 100%;
      width: 500px;
      position: absolute;
      background: #fff; }
    .header__menu_wrap {
      height: 100%;
      overflow: auto;
      position: relative;
      padding: 90px 30px 30px 80px; }
  .header__nav {
    margin: 0;
    list-style: none; }
    .header__nav li {
      margin-bottom: 0; }
    .header__nav > li > a {
      color: #000;
      font-size: 15px;
      font-weight: 700;
      line-height: 19px;
      padding: 10px 16px 10px 0;
      white-space: nowrap;
      text-decoration: none;
      position: relative;
      display: inline-block;
      text-transform: uppercase;
      font-family: "PlumbMain", Arial, sans-serif; }
      .header__nav > li > a:hover {
        color: #0f5baa; }
      .header__nav > li > a i {
        top: 50%;
        right: 0;
        height: 12px;
        font-size: 12px;
        line-height: 12px;
        margin-top: -7px;
        display: inline-block;
        position: absolute; }
    .header__nav > li:hover > a i {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
    .header__nav > li:hover > ul {
      display: block; }
    .header__nav > li > ul {
      margin: 0;
      padding: 0;
      display: none;
      list-style: none; }
      .header__nav > li > ul > li {
        position: relative;
        border-bottom: 1px solid #09509b; }
        .header__nav > li > ul > li:last-child {
          border-bottom: none; }
        .header__nav > li > ul > li > a {
          width: 100%;
          color: #90b9e3;
          font-size: 13px;
          font-weight: 700;
          line-height: 15px;
          padding: 15px 20px;
          white-space: nowrap;
          display: inline-block;
          text-decoration: none;
          background: #0f5baa;
          text-transform: uppercase;
          font-family: "PlumbMain", Arial, sans-serif; }
          .header__nav > li > ul > li > a span {
            position: relative; }
          .header__nav > li > ul > li > a:hover {
            color: #fff; }
          .header__nav > li > ul > li > a i {
            margin-left: 10px;
            font-size: 12px;
            line-height: 12px;
            position: absolute; }
        .header__nav > li > ul > li:hover > a {
          border-bottom: 1px solid #09509b; }
          .header__nav > li > ul > li:hover > a i {
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg); }
        .header__nav > li > ul > li:hover > ul {
          display: block; }
        .header__nav > li > ul > li > ul {
          margin: 0;
          padding: 0;
          display: none;
          list-style: none; }
          .header__nav > li > ul > li > ul > li {
            position: relative;
            border-bottom: 1px solid #0f5baa; }
            .header__nav > li > ul > li > ul > li:last-child {
              border-bottom: none; }
            .header__nav > li > ul > li > ul > li > a {
              width: 100%;
              color: #90b9e3;
              font-size: 13px;
              font-weight: 700;
              line-height: 15px;
              padding: 15px 20px 15px 30px;
              background: #1764b5;
              letter-spacing: -1px;
              display: inline-block;
              text-decoration: none;
              text-transform: uppercase;
              font-family: "PlumbMain", Arial, sans-serif; }
              .header__nav > li > ul > li > ul > li > a:hover {
                color: #fff;
                background: #1a6abe; }
  .header__search {
    top: 25px;
    left: 210px;
    width: 40px;
    height: 40px;
    position: absolute; }
  .header__lng {
    margin: 0;
    font-size: 0;
    line-height: 0;
    list-style: none;
    padding: 10px 0 0 0; }
    .header__lng > li {
      float: left;
      margin-bottom: 0;
      margin-right: 5px; }
      .header__lng > li a {
        width: 22px;
        display: inline-block; }
        .header__lng > li a:hover {
          opacity: 0.6; }
        .header__lng > li a:active {
          opacity: 1;
          -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.26);
          box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.26); }
  .header .search {
    top: 0;
    right: 0;
    width: 170px;
    position: absolute; }
    .header .search__input {
      margin: 0;
      width: 100%;
      color: #aaaaaa;
      outline: none;
      font-size: 14px;
      line-height: 20px;
      padding: 9px 40px 9px 15px;
      display: inline-block;
      background: #f7f7f7;
      border: 1px solid #f7f7f7;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px; }
      .header .search__input::-moz-placeholder {
        color: #aaa;
        opacity: 1; }
      .header .search__input:-ms-input-placeholder {
        color: #aaa; }
      .header .search__input::-webkit-input-placeholder {
        color: #aaa; }
      .header .search__input::-ms-clear {
        display: none;
        width: 0;
        height: 0; }
      .header .search__input:focus {
        color: #aaa; }
        .header .search__input:focus::-moz-placeholder {
          color: transparent;
          opacity: 1; }
        .header .search__input:focus:-ms-input-placeholder {
          color: transparent; }
        .header .search__input:focus::-webkit-input-placeholder {
          color: transparent; }
    .header .search__button {
      top: 0;
      right: 0;
      z-index: 10;
      width: 40px;
      height: 40px;
      border: none;
      outline: none;
      display: block;
      cursor: pointer;
      padding: 10px 0;
      font-size: 18px;
      line-height: 18px;
      position: absolute;
      color: #0f5baa;
      text-align: center;
      background: transparent; }
  .header .nav-close {
    z-index: 1020;
    left: 15px;
    top: 25px;
    width: 40px;
    height: 40px;
    display: none;
    cursor: pointer;
    position: absolute;
    border: 1px solid #ccdeee;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px; }
    .header .nav-close:after, .header .nav-close:before {
      top: 50%;
      left: 50%;
      width: 12px;
      height: 2px;
      content: '';
      z-index: 1010;
      margin: -1px 0 0 -6px;
      display: inline-block;
      background: #0f5baa;
      position: absolute; }
    .header .nav-close:after {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .header .nav-close:before {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  @media (min-width: 576px) {
    .header {
      padding-bottom: 40px; }
      .header .container {
        padding-top: 35px;
        padding-left: 70px; }
      .header__toggle {
        top: 35px; }
        .header__toggle > span {
          display: inline; }
      .header__contact {
        top: 35px;
        padding-top: 0; }
        .header__contact > li:last-child {
          display: block;
          padding-top: 6px; } }
  @media (min-width: 768px) {
    .header .container {
      padding-top: 40px;
      padding-left: 85px; }
    .header__contact {
      margin-top: -2px; } }
  @media (min-width: 1024px) {
    .header .container {
      padding-left: 100px; } }
  @media (min-width: 1230px) {
    .header {
      padding-top: 37px; }
      .header .container {
        padding-top: 0;
        padding-left: 15px; }
      .header__toggle {
        display: none; }
      .header__logo {
        float: left;
        width: 310px;
        margin-right: 30px; }
      .header__menu {
        padding: 13px 0 0 0;
        top: auto;
        left: auto;
        float: left;
        display: block;
        height: auto;
        width: auto;
        min-height: inherit;
        position: relative;
        background: transparent; }
        .header__menu:before, .header__menu:after {
          content: " ";
          display: table; }
        .header__menu:after {
          clear: both; }
        .header__menu_wrap {
          padding: 0;
          height: auto;
          overflow: visible; }
          .header__menu_wrap:before, .header__menu_wrap:after {
            content: " ";
            display: table; }
          .header__menu_wrap:after {
            clear: both; }
      .header__nav {
        float: left;
        margin: 0 15px 0 0;
        padding: 0; }
        .header__nav > li {
          float: left;
          position: relative; }
          .header__nav > li:last-child {
            margin-right: 0; }
          .header__nav > li > a {
            color: #000;
            padding: 10px 20px;
            white-space: nowrap; }
            .header__nav > li > a:hover {
              color: #0f5baa;
              border-bottom: none; }
            .header__nav > li > a i {
              display: none; }
          .header__nav > li:hover > a {
            color: #0f5baa;
            border-bottom: none; }
          .header__nav > li:hover > ul {
            display: block; }
          .header__nav > li > ul {
            left: 0;
            top: 100%;
            display: none;
            padding: 7px 0 0 0;
            position: absolute; }
            .header__nav > li > ul:before {
              left: 50%;
              top: -5px;
              content: '';
              z-index: -1px;
              margin-left: -6px;
              position: absolute;
              border: 6px solid transparent;
              border-bottom: 6px solid #0f5baa; }
            .header__nav > li > ul > li {
              position: relative; }
              .header__nav > li > ul > li:last-child {
                border-bottom: none; }
              .header__nav > li > ul > li > a {
                padding: 15px 20px;
                white-space: nowrap;
                letter-spacing: -1px;
                border-bottom: none; }
                .header__nav > li > ul > li > a i {
                  display: none; }
                .header__nav > li > ul > li > a:hover {
                  border-bottom: none; }
              .header__nav > li > ul > li:hover > a {
                color: #fff;
                border-bottom: none;
                background: #1a6abe; }
              .header__nav > li > ul > li:hover > ul {
                display: block; }
              .header__nav > li > ul > li > ul {
                top: 0;
                margin: 0;
                padding: 0;
                left: 100%;
                display: none;
                list-style: none;
                position: absolute; }
                .header__nav > li > ul > li > ul > li {
                  position: relative;
                  border-bottom: 1px solid #0f5baa; }
                  .header__nav > li > ul > li > ul > li:last-child {
                    border-bottom: none; }
                  .header__nav > li > ul > li > ul > li > a {
                    width: 100%;
                    color: #90b9e3;
                    font-size: 13px;
                    font-weight: 700;
                    line-height: 15px;
                    padding: 15px 20px;
                    background: #1764b5;
                    white-space: nowrap;
                    letter-spacing: -1px;
                    display: inline-block;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-family: "PlumbMain", Arial, sans-serif; }
                    .header__nav > li > ul > li > ul > li > a:hover {
                      color: #fff;
                      background: #1a6abe; }
      .header__search {
        top: auto;
        left: auto;
        right: auto;
        float: left;
        padding: 1px;
        width: 40px;
        height: 40px;
        display: block;
        overflow: hidden;
        margin-top: -1px;
        margin-right: 33px;
        position: relative; }
        .header__search .search {
          width: 275px; }
          .header__search .search__input {
            background: transparent;
            border-color: transparent; }
        .header__search:hover {
          overflow: inherit; }
          .header__search:hover .search__input {
            background: #f7f7f7;
            border-color: #f7f7f7; }
      .header__lng {
        float: left;
        padding-top: 12px;
        display: block; }
      .header__contact {
        top: auto;
        right: auto;
        float: right;
        position: relative; } }

.footer {
  color: #fff; }
  .footer__top {
    padding-top: 50px;
    padding-bottom: 25px;
    background: #005aaa; }
  .footer__nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around; }
    .footer__nav_item {
      width: 50%;
      text-align: center; }
    .footer__nav h4 {
      color: #fff;
      font-size: 13px;
      font-weight: 700;
      line-height: 19px;
      margin-bottom: 25px;
      text-transform: uppercase;
      font-family: "PlumbMain", Arial, sans-serif; }
    .footer__nav ul {
      padding: 0;
      font-size: 13px;
      line-height: 19px;
      list-style: none;
      margin: 0 0 25px 0; }
      .footer__nav ul li {
        margin-bottom: 10px; }
        .footer__nav ul li:last-child {
          margin-bottom: 0; }
        .footer__nav ul li a {
          color: #fff;
          opacity: 0.5;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
          .footer__nav ul li a:hover {
            opacity: 1;
            -webkit-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s; }
  .footer__bottom {
    padding: 25px 0;
    text-align: center;
    background: #00539c; }
  .footer__company {
    opacity: 0.5;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 12px; }
  .footer__privacy {
    font-size: 11px;
    line-height: 15px;
    margin-bottom: 13px; }
    .footer__privacy a {
      color: #fff;
      opacity: 0.5;
      text-decoration: underline; }
      .footer__privacy a:hover {
        opacity: 1;
        text-decoration: none; }
  .footer__contact {
    padding: 0;
    font-size: 15px;
    list-style: none;
    line-height: 20px;
    margin: 0 0 15px 0; }
    .footer__contact > li:last-child {
      display: none; }
    .footer__contact .tel {
      color: #fff;
      font-weight: 700;
      text-decoration: none; }
    .footer__contact .btn-callback {
      color: #fff;
      font-size: 13px;
      line-height: 15px;
      margin-bottom: 12px;
      text-decoration: none;
      border-bottom: 1px dashed #4d87ba; }
      .footer__contact .btn-callback:hover {
        border-bottom-color: transparent; }
  .footer__dev {
    font-size: 12px;
    line-height: 20px; }
    .footer__dev a {
      opacity: 1;
      color: #fff;
      padding: 2px 45px 2px 0;
      display: inline-block;
      text-decoration: none;
      background: url("../img/dev_logo.png") 100% 50% no-repeat; }
      .footer__dev a span {
        opacity: 0.5;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      .footer__dev a:hover span {
        opacity: 1;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
  @media (min-width: 576px) {
    .footer__top {
      padding-top: 55px;
      padding-bottom: 30px;
      background: url("../img/footer__top.png") 50% 50% no-repeat;
      background-size: cover; }
    .footer__nav_item {
      width: 25%; }
    .footer__bottom {
      text-align: left;
      padding-bottom: 30px; }
    .footer__row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between; }
    .footer__company {
      width: 60%;
      margin-bottom: 15px; }
    .footer__privacy {
      width: 170px;
      margin-bottom: 15px; }
    .footer__contact {
      width: 60%;
      margin-bottom: 0; }
      .footer__contact > li {
        margin-bottom: 0; }
        .footer__contact > li:last-child {
          display: block; }
    .footer__dev {
      width: 130px;
      line-height: 15px;
      margin-right: 40px;
      margin-bottom: 0; }
      .footer__dev a {
        display: inline-block;
        min-height: 24px; } }
  @media (min-width: 768px) {
    .footer__top {
      padding-top: 85px;
      padding-bottom: 66px; }
    .footer__bottom {
      padding-top: 22px;
      padding-bottom: 25px; }
    .footer__row {
      -webkit-flex-wrap: nowrap;
      -moz-flex-wrap: nowrap;
      -ms-flex-wrap: none;
      flex-wrap: nowrap; }
    .footer__company {
      width: 300px;
      padding-top: 3px;
      margin-bottom: 0; }
    .footer__privacy {
      width: 140px;
      margin-bottom: 0; }
    .footer__contact {
      width: 205px;
      text-align: center;
      margin-right: 90px; }
    .footer__dev {
      width: 135px;
      margin-right: 0; } }
  @media (min-width: 1230px) {
    .footer__privacy {
      width: 270px;
      padding-top: 10px; }
    .footer__contact {
      margin-right: 120px; }
    .footer__dev {
      width: auto;
      margin-right: 0;
      margin-top: 8px;
      line-height: 24px;
      white-space: nowrap; } }

.slider {
  max-width: 100%;
  overflow: hidden;
  position: relative; }
  .slider__item {
    max-width: 100%;
    overflow: hidden;
    position: relative; }
    .slider__item:before {
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      z-index: 10;
      height: 140px;
      position: absolute;
      background: url("../img/slider__shadow.png") 0 0 repeat-x; }
  .slider__inner {
    margin-left: -200px;
    margin-right: -50px; }
  .slider__slider {
    position: relative;
    padding-bottom: 60px; }
  .slider .swiper-pagination {
    z-index: 10;
    bottom: 20px;
    font-size: 0;
    display: none;
    line-height: 0;
    text-align: center; }
  .slider .swiper-pagination-bullet {
    outline: none;
    width: 30px;
    height: 30px;
    padding: 5px 0;
    color: #fff;
    opacity: 0.5;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    display: inline-block;
    background: transparent;
    border: 1px solid transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
    .slider .swiper-pagination-bullet:hover {
      opacity: 1;
      background: #717171; }
  .slider .swiper-pagination-bullet-active {
    color: #fff;
    opacity: 1;
    border-color: #fff; }
  .slider .swiper-button-prev,
  .slider .swiper-button-next {
    top: auto;
    outline: none;
    bottom: 20px;
    width: 30px;
    height: 30px;
    z-index: 50;
    margin-top: 0;
    border: 1px solid #fff;
    background: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
    .slider .swiper-button-prev:after, .slider .swiper-button-prev:before,
    .slider .swiper-button-next:after,
    .slider .swiper-button-next:before {
      z-index: 5;
      left: 11px;
      width: 7px;
      height: 2px;
      content: '';
      background: #fff;
      position: absolute; }
    .slider .swiper-button-prev:hover,
    .slider .swiper-button-next:hover {
      color: #fff;
      background: #717171;
      border-color: #717171; }
  .slider .swiper-button-prev {
    left: auto;
    right: 60px; }
    .slider .swiper-button-prev:after {
      top: 11px;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .slider .swiper-button-prev:before {
      bottom: 11px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
  .slider .swiper-button-next {
    right: 20px; }
    .slider .swiper-button-next:after {
      top: 11px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .slider .swiper-button-next:before {
      bottom: 11px;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  @media (min-width: 576px) {
    .slider {
      margin: 0 auto; }
      .slider__item:before {
        height: 159px;
        background-size: auto; }
      .slider__inner {
        margin-left: 0;
        margin-right: 0; }
      .slider .swiper-pagination {
        display: block; } }
  @media (min-width: 1024px) {
    .slider {
      width: 870px;
      margin: 0 auto; } }
  @media (min-width: 1230px) {
    .slider {
      width: 1170px; } }

.about {
  max-width: 100%;
  overflow: hidden; }
  .about h1 {
    color: #000;
    margin-bottom: 25px; }
    .about h1 span {
      position: relative;
      padding-bottom: 12px;
      display: inline-block; }
      .about h1 span:before {
        left: 0;
        right: 0;
        bottom: 0;
        height: 5px;
        content: '';
        display: block;
        position: absolute;
        background: white;
        /* Old browsers */
        background: -moz-linear-gradient(left, white 0%, #cecece 51%, white 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, white 0%, #cecece 51%, white 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, white 0%, #cecece 51%, white 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
        /* IE6-9 */ }
  .about__text {
    padding-top: 55px;
    padding-bottom: 30px; }
  .about__image {
    margin: 0 auto; }
    .about__image_wrap {
      margin: 0 -82px; }
  @media (min-width: 576px) {
    .about__text {
      padding-bottom: 60px; }
    .about__image_wrap {
      margin: 0 -150px; } }
  @media (min-width: 1024px) {
    .about {
      padding-bottom: 60px; }
      .about__text {
        padding-bottom: 50px; }
        .about__text h1 {
          margin-bottom: 40px; }
      .about__image_wrap {
        margin: 0 auto; } }
  @media (min-width: 1230px) {
    .about {
      padding-top: 90px;
      padding-bottom: 90px; }
      .about__row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex; }
      .about__text {
        padding: 40px 0 0 80px;
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -moz-order: 2;
        -ms-flex-order: 2;
        order: 2;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1; }
      .about__image {
        margin: 0;
        width: 420px;
        overflow: hidden;
        min-width: 420px;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -moz-order: 1;
        -ms-flex-order: 1;
        order: 1; }
        .about__image_wrap {
          margin-right: -50px;
          margin-left: -400px; } }

.showcase {
  padding-top: 55px;
  padding-bottom: 60px;
  background: #f8f8f8; }
  .showcase__slider {
    overflow: hidden;
    position: relative; }
  .showcase h2 {
    text-align: center;
    margin-bottom: 30px; }
  .showcase .swiper-pagination {
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 0;
    display: none;
    line-height: 0;
    text-align: center; }
  .showcase .swiper-pagination-bullet {
    width: 30px;
    height: 30px;
    margin: 0 2px;
    padding: 5px 0;
    color: #999999;
    opacity: 1;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    display: inline-block;
    background: transparent;
    border: 1px solid transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
    .showcase .swiper-pagination-bullet:hover {
      color: #000;
      background: #e6e6e6;
      border-color: #e6e6e6; }
  .showcase .swiper-pagination-bullet-active {
    color: #000;
    border-color: #000; }
    .showcase .swiper-pagination-bullet-active:hover {
      color: #000;
      background: transparent;
      border-color: #000; }
  .showcase .swiper-button-prev,
  .showcase .swiper-button-next {
    top: auto;
    outline: none;
    bottom: 0;
    width: 30px;
    height: 30px;
    z-index: 50;
    margin-top: 0;
    border: 1px solid #dedede;
    background: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
    .showcase .swiper-button-prev:after, .showcase .swiper-button-prev:before,
    .showcase .swiper-button-next:after,
    .showcase .swiper-button-next:before {
      z-index: 5;
      left: 11px;
      width: 7px;
      height: 2px;
      content: '';
      background: #040707;
      position: absolute; }
    .showcase .swiper-button-prev:hover,
    .showcase .swiper-button-next:hover {
      background: #d3d3d3;
      border-color: #d3d3d3; }
  .showcase .swiper-button-prev {
    left: 50%;
    margin-left: -40px; }
    .showcase .swiper-button-prev:after {
      top: 11px;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .showcase .swiper-button-prev:before {
      bottom: 11px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
  .showcase .swiper-button-next {
    right: 50%;
    margin-right: -40px; }
    .showcase .swiper-button-next:after {
      top: 11px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .showcase .swiper-button-next:before {
      bottom: 11px;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .showcase .swiper-slide {
    min-height: 260px;
    margin-bottom: 30px; }
  @media (min-width: 576px) {
    .showcase {
      padding-top: 87px;
      padding-bottom: 30px; }
      .showcase h2 {
        margin-bottom: 47px; }
      .showcase .swiper-slide {
        min-height: 320px; }
      .showcase .swiper-pagination {
        display: block; }
      .showcase .swiper-button-prev {
        left: auto;
        right: 60px;
        margin-left: 0; }
      .showcase .swiper-button-next {
        right: 20px;
        margin-right: 0; } }

.videoBlock {
  background: #fff;
  padding: 30px 0 60px 0; }
  .videoBlock__wrap {
    max-width: 960px;
    margin: 0 auto; }
  @media (min-width: 576px) {
    .videoBlock {
      padding: 60px 0 70px 0; } }
  @media (min-width: 1230px) {
    .videoBlock {
      padding: 90px 0 95px 0; } }

.eventsBlock {
  padding: 50px 0;
  background: #f8f8f8; }
  .eventsBlock h2 {
    margin-bottom: 25px; }
  @media (min-width: 576px) {
    .eventsBlock {
      padding: 90px 0 90px 0; }
      .eventsBlock h2 {
        margin-bottom: 48px; } }

.events {
  padding: 0;
  list-style: none;
  font-size: 15px;
  line-height: 20px;
  margin: 0 0 20px 0; }
  .events > li {
    width: 270px;
    margin: 0 auto;
    padding: 25px 0;
    text-align: center;
    border-bottom: 1px solid #e5e5e5; }
    .events > li:first-child {
      padding-top: 0; }
    .events > li:last-child {
      border-bottom: none; }
  .events__date {
    color: #999;
    display: block;
    font-size: 12px;
    margin-bottom: 5px; }
  .events__title {
    color: #0f5baa;
    text-decoration: underline; }
    .events__title:hover {
      text-decoration: none; }
  @media (min-width: 576px) {
    .events {
      margin-bottom: 30px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between; }
      .events > li {
        width: 33.33%;
        padding: 15px 20px;
        border-bottom: none;
        border-right: 1px solid #e5e5e5; }
        .events > li:first-child {
          padding-top: 15px; }
        .events > li:last-child {
          border-right: none; } }
  @media (min-width: 1230px) {
    .events {
      margin-bottom: 38px; }
      .events > li {
        padding: 15px 35px; } }

.activity {
  width: 100%;
  max-width: 100%;
  overflow: hidden; }
  .activity h2 {
    margin-bottom: 30px; }
  .activity__text {
    padding-top: 50px;
    padding-bottom: 20px; }
  .activity__image {
    height: 400px;
    margin: 0 -100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%; }
  .activity ul {
    margin: 0;
    padding: 0;
    list-style: inside; }
    .activity ul li {
      margin-bottom: 15px; }
  @media (min-width: 576px) {
    .activity {
      padding-top: 55px;
      padding-bottom: 60px; }
      .activity h2 {
        margin-bottom: 40px; }
      .activity__text {
        padding-top: 0;
        padding-bottom: 30px; }
      .activity__image {
        margin: 0;
        height: 510px; } }
  @media (min-width: 1024px) {
    .activity__row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex; }
    .activity__text {
      padding-top: 30px;
      padding-right: 30px; }
    .activity__image {
      width: 470px;
      height: auto;
      min-width: 470px; } }
  @media (min-width: 1230px) {
    .activity {
      padding-top: 90px;
      padding-bottom: 90px; }
      .activity ul {
        padding: 0;
        margin: 0 -30px;
        list-style: inside;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .activity ul li {
          width: 50%;
          padding: 0 30px;
          margin-bottom: 20px; }
      .activity__text {
        padding-top: 58px;
        padding-right: 86px; }
      .activity__image {
        min-height: 510px; } }

.modal {
  width: 280px;
  padding: 20px;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
  .modal__heading {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    position: relative;
    font-family: "PlumbMain", Arial, sans-serif;
    text-transform: uppercase;
    margin: 0 -10px 25px -10px; }
  @media (min-width: 576px) {
    .modal {
      width: 370px;
      padding: 50px; }
      .modal__heading span {
        position: relative;
        padding-bottom: 12px;
        display: inline-block; }
        .modal__heading span:before {
          left: 0;
          right: 0;
          bottom: 0;
          height: 5px;
          content: '';
          display: block;
          position: absolute;
          background: white;
          /* Old browsers */
          background: -moz-linear-gradient(left, white 0%, #cecece 51%, white 100%);
          /* FF3.6-15 */
          background: -webkit-linear-gradient(left, white 0%, #cecece 51%, white 100%);
          /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right, white 0%, #cecece 51%, white 100%);
          /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
          /* IE6-9 */ } }

.heading {
  color: #fff;
  padding-top: 30px;
  text-align: center;
  padding-bottom: 25px;
  background: url("../img/heading__bg.jpg") 50% 50% no-repeat;
  background-size: cover; }
  .heading h1 {
    color: #fff;
    padding: 9px 0;
    margin-bottom: 5px;
    text-align: center;
    background: url("../img/h1_bg.png") 50% 50% repeat-y;
    background-size: cover; }
  @media (min-width: 576px) {
    .heading h1 {
      background-size: auto auto; } }

.page404 {
  margin: 0 auto;
  max-width: 370px;
  padding-top: 40px;
  padding-bottom: 50px; }
  @media (min-width: 576px) {
    .page404 {
      padding-top: 50px;
      padding-bottom: 60px; } }

.subnav {
  display: none;
  font-size: 0;
  line-height: 0;
  padding-top: 25px; }
  .subnav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center; }
    .subnav ul > li {
      margin-bottom: 0;
      display: inline-block; }
      .subnav ul > li > a {
        font-size: 13px;
        font-weight: 700;
        line-height: 15px;
        padding: 15px 30px;
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "PlumbMain", Arial, sans-serif;
        -webkit-border-radius: 3px 3px 0 0;
        -moz-border-radius: 3px 3px 0 0;
        -ms-border-radius: 3px 3px 0 0;
        border-radius: 3px 3px 0 0; }
        .subnav ul > li > a:hover {
          color: #000; }
      .subnav ul > li.active > a {
        background: #f8f8f8; }
        .subnav ul > li.active > a:hover {
          color: #0f5baa; }
  @media (min-width: 1230px) {
    .subnav {
      display: block; } }

.content-gray {
  padding-top: 55px;
  background: #f8f8f8; }

.content {
  padding-top: 50px;
  padding-bottom: 60px; }
  .content h2 {
    margin-bottom: 30px; }
  @media (min-width: 768px) {
    .content {
      padding-top: 58px; } }

@media (min-width: 576px) {
  .content-dealers {
    padding-bottom: 60px; } }
@media (min-width: 1230px) {
  .content-dealers {
    padding-bottom: 90px; } }

.content-overflow {
  max-width: 100%;
  overflow: hidden; }

.dealers__contact {
  display: none; }
.dealers__map {
  height: 430px;
  position: relative; }
  .dealers__map:before {
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    left: 70px;
    content: '';
    display: block;
    position: absolute;
    background: transparent; }
  .dealers__map #map {
    height: 100%; }
.dealers__list {
  padding-right: 16px; }
.dealers .scroll-y {
  top: 0;
  right: 0;
  height: 100%;
  width: 10px;
  background: #dedede;
  position: absolute; }
.dealers .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%; }
.dealers .scroll-element {
  z-index: 10; }
.dealers .scroll-bar {
  position: absolute;
  background: #c2c2c2;
  right: 0 !important;
  width: 10px !important;
  left: auto !important; }
@media (min-width: 576px) {
  .dealers {
    margin: 0 auto;
    max-width: 570px; } }
.dealers__wrap {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  opacity: 0;
  visibility: hidden;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
  .dealers__wrap.visible {
    opacity: 1;
    visibility: visible; }
.dealers__box {
  margin: auto;
  max-width: 370px;
  background: #fff;
  padding: 30px 30px;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
  .dealers__box__heading {
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 10px;
    letter-spacing: -1px;
    font-family: "PlumbMain", Arial, sans-serif;
    text-transform: uppercase; }
    .dealers__box__heading a {
      color: #0f5baa;
      text-decoration: none;
      border-bottom: 1px solid #b7cde5; }
      .dealers__box__heading a:hover {
        border-bottom-color: transparent; }
  .dealers__box__address {
    color: #666;
    font-size: 14px;
    line-height: 20px; }
  .dealers__box ul {
    margin: 0;
    list-style: none;
    padding: 20px 0 0 0; }
    .dealers__box ul li {
      margin-bottom: 5px; }
      .dealers__box ul li:last-child {
        margin-bottom: 0; }
  .dealers__box_close {
    z-index: 10;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 0;
    outline: none;
    line-height: 0;
    cursor: pointer;
    position: absolute;
    display: inline-block;
    border: 1px solid #cddfee;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
    .dealers__box_close:after, .dealers__box_close:before {
      top: 50%;
      left: 50%;
      width: 12px;
      height: 1px;
      z-index: 10;
      content: '';
      margin-top: -1px;
      margin-left: -6px;
      position: absolute;
      display: inline-block;
      background: #0f5baa; }
    .dealers__box_close:after {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .dealers__box_close:before {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .dealers__box_close:hover {
      background: #0f5baa; }
      .dealers__box_close:hover:after {
        background: #fff; }
      .dealers__box_close:hover:before {
        background: #fff; }
    .dealers__box_close:active {
      -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.26);
      box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.26); }
@media (min-width: 1024px) {
  .dealers {
    width: 900px;
    padding: 0 15px;
    max-width: inherit; }
    .dealers:before, .dealers:after {
      content: " ";
      display: table; }
    .dealers:after {
      clear: both; }
    .dealers__contact {
      float: left;
      width: 400px;
      height: 570px;
      display: block;
      position: relative;
      padding-right: 15px; }
    .dealers__map {
      float: left;
      width: 470px;
      height: 570px; }
      .dealers__map:before {
        display: none; }
    .dealers .scroll-wrap {
      height: 570px; }
    .dealers__wrap {
      opacity: 0;
      visibility: hidden; }
    .dealers__wrap.visible {
      opacity: 0;
      visibility: hidden; }
    .dealers__box {
      padding: 35px 40px; } }
@media (min-width: 1230px) {
  .dealers {
    width: 1200px; }
    .dealers__map {
      width: 770px; } }

.contactBox {
  background: #fff;
  padding: 35px 40px;
  margin-bottom: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
  .contactBox:last-child {
    margin-bottom: 0; }
  .contactBox__heading {
    font-size: 13px;
    font-weight: 700;
    line-height: 15px;
    margin-bottom: 10px;
    font-family: "PlumbMain", Arial, sans-serif;
    text-transform: uppercase; }
    .contactBox__heading a {
      color: #0f5baa;
      text-decoration: none;
      border-bottom: 1px solid #b7cde5; }
      .contactBox__heading a:hover {
        border-bottom-color: transparent; }
  .contactBox__address {
    color: #666;
    font-size: 14px;
    line-height: 20px; }
  .contactBox ul {
    margin: 0;
    list-style: none;
    padding: 30px 0 0 0; }
    .contactBox ul li {
      margin-bottom: 5px; }

.docs {
  padding: 0;
  max-width: 800px;
  list-style: none;
  margin: 0 auto 30px auto; }
  .docs > li {
    padding-top: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e5e5e5; }
  .docs__image {
    width: 70px;
    display: block;
    max-width: 70px;
    position: relative;
    margin-bottom: 15px; }
    .docs__image a {
      display: block;
      position: relative; }
      .docs__image a i {
        right: 0;
        bottom: 0;
        height: 14px;
        font-size: 14px;
        line-height: 14px;
        position: absolute;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      .docs__image a:hover i {
        top: 50%;
        left: 50%;
        margin: -7px 0 0 -5px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
  .docs__text {
    color: #666;
    font-size: 14px;
    line-height: 20px; }
  @media (min-width: 576px) {
    .docs > li {
      padding: 30px 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex; }
    .docs__text {
      padding-left: 30px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -moz-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; }
      .docs__text span {
        width: 100%;
        margin: auto 0;
        display: inline-block; } }

.pagination {
  padding: 0;
  font-size: 0;
  line-height: 0;
  margin: 0 -3px;
  list-style: none;
  text-align: center; }
  .pagination > li {
    padding: 0 3px;
    margin-bottom: 6px;
    display: inline-block; }
    .pagination > li > a {
      color: #999;
      width: 30px;
      height: 30px;
      padding: 6px 0;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border: 1px solid transparent;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
      .pagination > li > a:hover {
        color: #000;
        background: #e6e6e6;
        border-color: #e6e6e6; }
    .pagination > li.active > a {
      color: #000;
      background: transparent;
      border-color: #000; }
    .pagination > li:first-child {
      padding-right: 20px; }
    .pagination > li:last-child {
      padding-left: 20px; }
    .pagination > li:first-child > a, .pagination > li:last-child > a {
      color: #000;
      font-size: 16px;
      border-color: #dedede; }
      .pagination > li:first-child > a:hover, .pagination > li:last-child > a:hover {
        color: #000;
        background: #e6e6e6;
        border-color: #e6e6e6; }

.text-content {
  margin: 0 auto;
  max-width: 770px; }

.imgBlock__item {
  margin-bottom: 30px; }
  .imgBlock__item a {
    display: block; }
@media (min-width: 576px) {
  .imgBlock {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -15px; }
    .imgBlock__item {
      width: 50%;
      padding: 0 15px; } }

.image a {
  display: block; }

.image-description {
  padding: 10px 0;
  font-style: italic;
  text-align: center; }

.partner {
  width: 270px;
  background: #fff;
  margin: 0 auto 10px auto; }
  .partner__logo {
    font-size: 0;
    line-height: 0;
    text-align: center;
    padding: 15px 10px;
    border-bottom: 1px solid #f8f8f8;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    .partner__logo img {
      margin: auto;
      display: inline-block; }
  .partner__info {
    padding: 15px 20px; }
  .partner__name {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: "PlumbMain", Arial, sans-serif; }
    .partner__name a {
      color: #0f5baa;
      text-decoration: underline; }
      .partner__name a:hover {
        text-decoration: none; }
  @media (min-width: 768px) {
    .partner {
      width: 100%;
      display: table; }
      .partner__logo {
        width: 200px;
        padding: 30px 15px;
        display: table-cell;
        vertical-align: middle; }
      .partner__info {
        padding: 30px;
        display: table-cell;
        vertical-align: middle; } }
  @media (min-width: 1024px) {
    .partner__logo {
      width: 370px;
      padding: 40px 30px; }
    .partner__info {
      padding: 30px 50px 15px 30px; } }

.reviews {
  padding: 0;
  list-style: none;
  margin: 0 0 50px 0; }
  .reviews > li {
    background: #fff;
    margin-bottom: 1px;
    padding: 25px 30px 30px 30px; }
  .reviews a {
    display: block;
    min-height: 40px;
    padding-left: 50px;
    position: relative;
    color: #0f5baa;
    text-decoration: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    .reviews a span {
      border-bottom: 1px dashed #0f5baa; }
    .reviews a:hover span {
      border-bottom-color: transparent; }
  .reviews__icon {
    left: 0;
    top: 50%;
    width: 32px;
    height: 40px;
    display: block;
    margin-top: -20px;
    position: absolute; }
  .reviews__text {
    margin: auto 0; }
  @media (min-width: 576px) {
    .reviews > li {
      padding: 25px 70px 30px 30px; } }

.news-row {
  padding-bottom: 10px; }

.news {
  width: 270px;
  background: #fff;
  margin: 0 auto 20px auto; }
  .news__image {
    padding: 10px; }
    .news__image a {
      width: 250px;
      height: 155px;
      display: block;
      overflow: hidden;
      background: url("../img/no-image.png") 50% 50% no-repeat; }
  .news__intro {
    font-size: 15px;
    line-height: 20px;
    padding: 10px 30px 30px 30px; }
  .news__date {
    color: #999;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 6px; }
  @media (min-width: 768px) {
    .news {
      width: 100%;
      display: table; }
      .news__image {
        width: 180px;
        display: table-cell; }
        .news__image a {
          width: 160px;
          height: auto;
          min-height: 120px; }
      .news__intro {
        display: table-cell;
        vertical-align: middle;
        padding: 10px 30px 10px 20px; } }

.contact-row {
  margin-bottom: 30px; }
  .contact-row .contact-elem {
    margin-bottom: 5px; }
  @media (min-width: 1024px) {
    .contact-row {
      margin: 0 -15px 30px -15px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .contact-row .contact-elem {
        width: 50%;
        padding: 0 15px;
        margin-bottom: 0; } }

.card {
  height: 100%;
  background: #fff;
  padding: 15px 20px; }
  .card__heading {
    color: #000;
    font-size: 13px;
    font-weight: 700;
    line-height: 15px;
    margin-bottom: 15px;
    font-family: "PlumbMain", Arial, sans-serif;
    text-transform: uppercase; }
  .card__data {
    color: #666;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px; }
    .card__data span {
      display: block; }
    .card__data strong {
      color: #000;
      font-weight: 600; }
  .card__view {
    font-size: 14px;
    line-height: 17px;
    color: #0f5baa;
    text-decoration: none;
    border-bottom: 1px dashed #0f5baa; }
    .card__view:hover {
      border-bottom-color: transparent; }
  @media (min-width: 576px) {
    .card {
      padding: 35px 50px 35px 40px; }
      .card__data span {
        display: inline; } }

.place__content {
  margin-bottom: 30px; }
.place__elem {
  margin-bottom: 5px; }
.place__map {
  height: 400px; }
  .place__map #map {
    height: 100%; }
@media (min-width: 1024px) {
  .place__content {
    margin: 0 -15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .place__elem {
    width: 50%;
    padding: 0 15px;
    margin-bottom: 30px; }
  .place__map {
    height: 425px; } }
@media (min-width: 1230px) {
  .place {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    .place__content {
      margin: 0;
      width: 400px;
      padding-right: 30px; }
    .place__elem {
      width: 100%;
      padding: 0; }
      .place__elem:last-child {
        margin-bottom: 0; }
    .place__map {
      width: 770px;
      height: auto; } }

.second-contact {
  margin-bottom: -20px; }
  .second-contact .second-contact-item {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 25px; }
    .second-contact .second-contact-item h3 {
      color: #000;
      font-size: 14px;
      letter-spacing: -0.5px;
      margin-bottom: 10px; }
    .second-contact .second-contact-item p {
      margin-bottom: 10px; }
      .second-contact .second-contact-item p span {
        color: #666;
        display: block; }
      .second-contact .second-contact-item p strong {
        color: #000;
        font-weight: 600; }
  @media (min-width: 576px) {
    .second-contact {
      margin: 0 -10px -17px 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .second-contact .second-contact-item {
        width: 33.33%;
        padding: 0 10px;
        margin-bottom: 50px;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        -webkit-justify-content: flex-start;
        -moz-justify-content: flex-start;
        justify-content: flex-start; } }
  @media (min-width: 1230px) {
    .second-contact .second-contact-item {
      width: auto;
      margin-bottom: 0;
      padding: 0 10px 0 0;
      min-width: 200px; } }

.contactModal {
  padding: 0;
  height: 360px;
  max-width: 375px;
  background: #fff;
  position: relative; }
  .contactModal .modal__heading {
    margin-bottom: 15px; }
  .contactModal__wrap {
    padding: 35px 35px 10px 30px; }
  .contactModal__data {
    margin: 0;
    padding: 0;
    list-style: none; }
    .contactModal__data > li {
      margin: 0;
      color: #666;
      font-size: 14px;
      line-height: 20px;
      padding: 25px 0;
      border-bottom: 1px solid #e5e5e5; }
      .contactModal__data > li:last-child {
        border-bottom: none; }
      .contactModal__data > li h3 {
        margin-bottom: 15px; }
      .contactModal__data > li strong {
        color: #000;
        font-weight: 600; }
  .contactModal .scroller {
    height: 100%;
    max-height: 100%; }
  .contactModal .scroll-y {
    top: 0;
    right: 0;
    height: 100%;
    width: 5px;
    background: #aaaaaa;
    position: absolute; }
  .contactModal .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%; }
  .contactModal .scroll-element {
    z-index: 10; }
  .contactModal .scroll-bar {
    position: absolute;
    background: #cccccc;
    right: 0 !important;
    width: 5px !important;
    left: auto !important; }
  @media (min-width: 768px) {
    .contactModal {
      width: 375px;
      height: 480px; } }

.accordion__item {
  padding: 25px 0;
  background: #fff;
  position: relative;
  margin-bottom: 10px; }
  .accordion__item:after, .accordion__item:before {
    top: 0;
    z-index: 10;
    content: '';
    width: 500px;
    height: 100%;
    background: #fff;
    position: absolute; }
  .accordion__item:after {
    left: -500px; }
  .accordion__item:before {
    right: -500px; }
  .accordion__item.active .accordion__hide {
    display: block; }
  .accordion__item.active .accordion__footer a {
    padding: 9px 0 0 0; }
  .accordion__item.active .accordion__footer i {
    top: 0;
    bottom: auto;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }
  .accordion__item.active .accordion__footer .open {
    display: none; }
  .accordion__item.active .accordion__footer .close {
    display: inline; }
.accordion__hide {
  display: none;
  padding-bottom: 30px; }
.accordion__footer {
  text-align: center; }
  .accordion__footer a {
    position: relative;
    padding-bottom: 13px;
    display: inline-block;
    text-decoration: none; }
    .accordion__footer a span {
      color: #0f5baa;
      border-bottom: 1px dashed #0f5baa; }
    .accordion__footer a:hover span {
      border-bottom-color: transparent; }
  .accordion__footer i {
    bottom: 0;
    left: 50%;
    height: 12px;
    color: #0f5baa;
    font-size: 12px;
    line-height: 12px;
    margin-left: -5px;
    display: inline-block;
    position: absolute; }
  .accordion__footer .open {
    display: inline; }
  .accordion__footer .close {
    display: none; }
@media (min-width: 576px) {
  .accordion {
    margin-bottom: 30px; } }
@media (min-width: 768px) {
  .accordion__item {
    margin-bottom: 20px;
    padding: 35px 40px 15px 40px; }
    .accordion__item:after, .accordion__item:before {
      display: none; } }

.product__gallery {
  position: relative;
  margin-bottom: 55px; }
.product__text {
  margin-bottom: 40px; }
  .product__text ul {
    margin-bottom: 5px; }
    .product__text ul > li {
      margin-bottom: 0; }
  .product__text p {
    margin-bottom: 5px; }
.product__data image {
  margin-bottom: 30px; }
  .product__data image a {
    display: block; }
.product__cert {
  width: 172px;
  margin: 0 auto; }
  .product__cert_item {
    margin-bottom: 20px; }
    .product__cert_item a {
      display: block;
      border: 1px solid #f5f5f5; }
.product__pic .image {
  margin-bottom: 30px; }
.product .goods__tag {
  top: 20px;
  display: none; }
@media (min-width: 576px) {
  .product__cert {
    width: auto;
    margin: 0 -15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .product__cert_item {
      width: 33.33%;
      padding: 0 15px; } }
@media (min-width: 768px) {
  .product__gallery {
    margin-bottom: 80px; }
  .product__pic {
    margin: 0 -15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    .product__pic .image {
      width: 50%;
      padding: 0 15px;
      margin-bottom: 30px; } }
@media (min-width: 1230px) {
  .product {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 40px; }
    .product__image {
      width: 580px; }
    .product .goods__tag {
      display: inline-block; }
    .product__info {
      width: 590px;
      padding-left: 130px; }
    .product__text {
      width: 600px; }
    .product__data {
      width: 570px;
      padding-left: 100px; }
    .product__pic {
      margin: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      .product__pic .image {
        width: 100%;
        padding: 0;
        margin-bottom: 30px; }
    .product__cert {
      width: 100%;
      margin: 0 10px; }
      .product__cert_item {
        width: 50%;
        padding: 0 10px; } }

.gallery__image {
  margin-bottom: 20px; }
.gallery__thumbs {
  position: relative;
  padding-right: 40px; }
  .gallery__thumbs_item {
    color: #000;
    display: block;
    position: relative;
    text-decoration: none; }
    .gallery__thumbs_item .loop {
      right: 0;
      bottom: 0;
      width: 24px;
      height: 24px;
      padding: 5px 0;
      font-size: 14px;
      background: #fff;
      line-height: 14px;
      position: absolute;
      text-align: center;
      display: inline-block; }
.gallery .swiper-button-prev {
  display: none !important; }
.gallery .swiper-button-next {
  top: 50%;
  right: 0;
  outline: none;
  width: 30px;
  height: 30px;
  z-index: 50;
  margin-top: -15px;
  border: 1px solid #dedede;
  background: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }
  .gallery .swiper-button-next:after, .gallery .swiper-button-next:before {
    z-index: 5;
    left: 11px;
    width: 7px;
    height: 2px;
    content: '';
    background: #000;
    position: absolute; }
  .gallery .swiper-button-next:after {
    top: 11px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .gallery .swiper-button-next:before {
    bottom: 11px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
@media (min-width: 576px) {
  .gallery {
    margin: 0 auto;
    max-width: 320px; } }
@media (min-width: 768px) {
  .gallery {
    max-width: 580px; }
    .gallery:before, .gallery:after {
      content: " ";
      display: table; }
    .gallery:after {
      clear: both; }
    .gallery__image {
      float: left;
      width: 470px;
      height: 601px;
      margin-bottom: 0; }
    .gallery__thumbs {
      float: left;
      width: 110px;
      height: 601px;
      padding: 0 20px 40px 0; }
    .gallery .thumb-slider {
      height: 560px; }
    .gallery .swiper-button-next {
      top: auto;
      bottom: 0;
      margin-top: 0;
      right: 50%;
      margin-right: -15px;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg); } }
@media (min-width: 1230px) {
  .gallery {
    max-width: inherit; } }

.documents {
  margin: 0;
  padding: 0;
  list-style: none; }
  .documents:before, .documents:after {
    content: " ";
    display: table; }
  .documents:after {
    clear: both; }
  .documents li {
    margin-bottom: 20px; }
    .documents li:last-child {
      margin-bottom: 0; }
  .documents__item {
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    .documents__item:hover .documents__text > span span {
      border-bottom-color: transparent; }
  .documents__image {
    width: 32px;
    display: block; }
  .documents__text {
    padding-left: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
    .documents__text > span {
      margin: auto;
      width: 100%;
      display: inline-block; }
      .documents__text > span span {
        border-bottom: 1px dashed #0f5baa; }
  @media (min-width: 1024px) {
    .documents li {
      float: left;
      margin-right: 80px; } }

.order {
  padding: 0;
  margin: 0 auto;
  max-width: 370px;
  list-style: none; }
  .order > li {
    margin-bottom: 10px; }
    .order > li:last-child {
      padding-top: 10px; }
  .order .btn {
    width: 100%; }
  @media (min-width: 1024px) {
    .order {
      margin: 0 -15px;
      width: auto;
      max-width: inherit;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex; }
      .order > li {
        width: 25%;
        padding: 0 15px; }
        .order > li:last-child {
          padding-top: 0; } }

.form-title {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  position: relative;
  margin-bottom: 20px;
  letter-spacing: -1px;
  text-align: center;
  font-family: "PlumbMain", Arial, sans-serif;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .form-title span {
      position: relative;
      padding-bottom: 12px;
      display: inline-block; }
      .form-title span:before {
        left: 0;
        right: 0;
        bottom: 0;
        height: 5px;
        content: '';
        display: block;
        position: absolute;
        background: white;
        /* Old browsers */
        background: -moz-linear-gradient(left, white 0%, #cecece 51%, white 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, white 0%, #cecece 51%, white 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, white 0%, #cecece 51%, white 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
        /* IE6-9 */ } }

.goods {
  color: #999;
  width: 170px;
  margin: 0 auto;
  display: block;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  position: relative;
  text-decoration: none; }
  .goods__image {
    max-width: 100%;
    margin-bottom: 15px; }
  .goods h3 {
    color: #0f5baa;
    margin-bottom: 10px; }
  .goods__tag {
    left: 0;
    top: 10px;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    line-height: 16px;
    padding: 5px 10px;
    position: absolute;
    display: inline-block;
    font-family: "PlumbMain", Arial, sans-serif;
    text-transform: uppercase; }
    .goods__tag:before {
      top: 0;
      left: 100%;
      content: '';
      width: 10px;
      height: 26px;
      position: absolute; }
    .goods__tag.special {
      background: #e54025; }
      .goods__tag.special:before {
        background: url("../img/tag_arrow.png") 0 0 no-repeat; }
    .goods__tag.new {
      background: #0f5baa; }
      .goods__tag.new:before {
        background: url("../img/tag_arrow_blue.png") 0 0 no-repeat; }
  .goods:hover h3 {
    text-decoration: underline; }

.product-row {
  width: 170px;
  margin: 0 auto; }
  .product-row .product-elem {
    width: 170px;
    margin-bottom: 55px; }
  @media (min-width: 768px) {
    .product-row {
      width: auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between; } }
  @media (min-width: 1024px) {
    .product-row {
      width: 830px; }
      .product-row .product-elem {
        width: 230px;
        padding: 0 30px;
        margin-bottom: 55px; } }

/*# sourceMappingURL=main.css.map */
