.slider {
	max-width: 100%;
	overflow: hidden;
	position: relative;

	&__item {
		max-width: 100%;
		overflow: hidden;
		position: relative;

		&:before {
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			z-index: 10;
			height: 140px;
			position: absolute;
			background: url("../img/slider__shadow.png") 0 0 repeat-x;
		}
	}

	&__inner {
		margin-left: -200px;
		margin-right: -50px;
	}

	&__slider {
		position: relative;
		padding-bottom: 60px;
	}

	.swiper-pagination {
		z-index: 10;
		bottom: 20px;
		font-size: 0;
		display: none;
		line-height: 0;
		text-align: center;
	}

	.swiper-pagination-bullet {
		outline: none;
		width: 30px;
		height: 30px;
		padding: 5px 0;
		color: #fff;
		opacity: 0.5;
		font-size: 14px;
		line-height: 18px;
		text-align: center;
		display: inline-block;
		background: transparent;
		border: 1px solid transparent;
		@include border-radius(50%);

		&:hover {
			opacity: 1;
			background: #717171;
		}
	}


	.swiper-pagination-bullet-active {
		color: #fff;
		opacity: 1;
		border-color: #fff;
	}

	.swiper-button-prev,
	.swiper-button-next {
		top: auto;
		outline: none;
		bottom: 20px;
		width: 30px;
		height: 30px;
		z-index: 50;
		margin-top: 0;
		border: 1px solid #fff;
		background: transparent;
		@include border-radius(50%);

		&:after,
		&:before {
			z-index: 5;
			left: 11px;
			width: 7px;
			height: 2px;
			content: '';
			background: #fff;
			position: absolute;
		}

		&:hover {
			color: #fff;
			background: #717171;
			border-color: #717171;
		}
	}


	.swiper-button-prev {
		left: auto;
		right: 60px;

		&:after {
			top: 11px;
			@include rotate(-45deg);
		}

		&:before {
			bottom: 11px;
			@include rotate(45deg);
		}
	}

	.swiper-button-next {
		right: 20px;

		&:after {
			top: 11px;
			@include rotate(45deg);
		}

		&:before {
			bottom: 11px;
			@include rotate(-45deg);
		}
	}

	@media (min-width: $screen-sm-min) {
		margin: 0 auto;

		&__item {

			&:before {
				height: 159px;
				background-size: auto;
			}
		}

		&__inner {
			margin-left: 0;
			margin-right: 0;
		}

		.swiper-pagination {
			display: block;
		}
	}

	@media (min-width: $screen-lg-min) {
		width: 870px;
		margin: 0 auto;;
	}


	@media (min-width: $screen-xl-min) {
		width: 1170px;
	}
}

.about {
	max-width: 100%;
	overflow: hidden;

	h1 {
		color: #000;
		margin-bottom: 25px;

		span {
			position: relative;
			padding-bottom: 12px;
			display: inline-block;

			&:before {
				left: 0;
				right: 0;
				bottom: 0;
				height: 5px;
				content: '';
				display: block;
				position: absolute;
				background: rgb(255,255,255); /* Old browsers */
				background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(206,206,206,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
			}
		}
	}

	&__text {
		padding-top: 55px;
		padding-bottom: 30px;
	}

	&__image {
		margin: 0 auto;

		&_wrap {
			margin: 0 -82px;
		}
	}

	@media (min-width: $screen-sm-min) {

		&__text {
			padding-bottom: 60px;
		}

		&__image {

			&_wrap {
				margin: 0 -150px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-bottom: 60px;

		&__text {
			padding-bottom: 50px;

			h1 {
				margin-bottom: 40px;
			}
		}

		&__image {

			&_wrap {
				margin: 0 auto;
			}
		}
	}

	@media (min-width: $screen-xl-min) {
		padding-top: 90px;
		padding-bottom: 90px;

		&__row {
			@include flexbox();
		}

		&__text {
			padding: 40px 0 0 80px;
			@include order(2);
			@include flex-grow(1);
		}

		&__image {
			margin: 0;
			width: 420px;
			overflow: hidden;
			min-width: 420px;
			@include order(1);

			&_wrap {
				margin-right: -50px;
				margin-left: -400px;
			}
		}
	}
}

.showcase {
	padding-top: 55px;
	padding-bottom: 60px;
	background: #f8f8f8;

	&__slider {
		overflow: hidden;
		position: relative;
	}

	h2 {
		text-align: center;
		margin-bottom: 30px;
	}

	.swiper-pagination {
		left: 0;
		right: 0;
		bottom: 0;
		font-size: 0;
		display: none;
		line-height: 0;
		text-align: center;
	}

	.swiper-pagination-bullet {
		width: 30px;
		height: 30px;
		margin: 0 2px;
		padding: 5px 0;
		color: #999999;
		opacity: 1;
		font-size: 14px;
		line-height: 18px;
		text-align: center;
		display: inline-block;
		background: transparent;
		border: 1px solid transparent;
		@include border-radius(50%);

		&:hover {
			color: #000;
			background: #e6e6e6;
			border-color: #e6e6e6;
		}
	}

	.swiper-pagination-bullet-active {
		color: #000;
		border-color: #000;

		&:hover {
			color: #000;
			background: transparent;
			border-color: #000;
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		top: auto;
		outline: none;
		bottom: 0;
		width: 30px;
		height: 30px;
		z-index: 50;
		margin-top: 0;
		border: 1px solid #dedede;
		background: transparent;
		@include border-radius(50%);

		&:after,
		&:before {
			z-index: 5;
			left: 11px;
			width: 7px;
			height: 2px;
			content: '';
			background: #040707;
			position: absolute;
		}

		&:hover {
			background: #d3d3d3;
			border-color: #d3d3d3;
		}
	}

	.swiper-button-prev {
		left: 50%;
		margin-left: -40px;

		&:after {
			top: 11px;
			@include rotate(-45deg);
		}

		&:before {
			bottom: 11px;
			@include rotate(45deg);
		}
	}

	.swiper-button-next {
		right: 50%;
		margin-right: -40px;

		&:after {
			top: 11px;
			@include rotate(45deg);
		}

		&:before {
			bottom: 11px;
			@include rotate(-45deg);
		}
	}

	.swiper-slide {
		min-height: 260px;
		margin-bottom: 30px;
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 87px;
		padding-bottom: 30px;

		h2 {
			margin-bottom: 47px;
		}

		.swiper-slide {
			min-height: 320px;
		}

		.swiper-pagination {
			display: block;
		}

		.swiper-button-prev {
			left: auto;
			right: 60px;
			margin-left: 0;
		}

		.swiper-button-next {
			right: 20px;
			margin-right: 0;
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {

	}
}

.videoBlock {
	background: #fff;
	padding: 30px 0 60px 0;

	&__wrap {
		max-width: 960px;
		margin: 0 auto;
	}

	@media (min-width: $screen-sm-min) {
		padding: 60px 0 70px 0;
	}

	@media (min-width: $screen-xl-min) {
		padding: 90px 0 95px 0;
	}
}

.eventsBlock {
	padding: 50px 0;
	background: #f8f8f8;

	h2 {
		margin-bottom: 25px;
	}

 	@media (min-width: $screen-sm-min) {
		padding: 90px 0 90px 0;

	    h2 {
		    margin-bottom: 48px;
	    }
	}
}

.events {
	padding: 0;
	list-style: none;
	font-size: 15px;
	line-height: 20px;
	margin: 0 0 20px 0;

	> li {
		width: 270px;
		margin: 0 auto;
		padding: 25px 0;
		text-align: center;
		border-bottom: 1px solid #e5e5e5;

		&:first-child {
			padding-top: 0;
		}

		&:last-child {
			border-bottom: none;
		}
	}


	&__date {
		color: #999;
		display: block;
		font-size: 12px;
		margin-bottom: 5px;
	}

	&__title {
		color: $color-blue;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	@media (min-width: $screen-sm-min) {
		margin-bottom: 30px;
		@include flexbox();
		@include justify-content(space-between);

		> li {
			width: 33.33%;
			padding: 15px 20px;
			border-bottom: none;
			border-right: 1px solid #e5e5e5;

			&:first-child {
				padding-top: 15px;
			}

			&:last-child {
				border-right: none;
			}
		}
	}

	@media (min-width: $screen-xl-min) {
		margin-bottom: 38px;

		> li {
			padding: 15px 35px;
		}
	}
}

.activity {
	width: 100%;
	max-width: 100%;
	overflow: hidden;

	h2 {
		margin-bottom: 30px;
	}

	&__text {
		padding-top: 50px;
		padding-bottom: 20px;
	}

	&__image {
		height: 400px;
		margin: 0 -100px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: inside;

		li {
			margin-bottom: 15px;
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 55px;
		padding-bottom: 60px;

		h2 {
			margin-bottom: 40px;
		}

		&__text {
			padding-top: 0;
			padding-bottom: 30px;
		}

		&__image {
			margin: 0;
			height: 510px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__row {
			@include flexbox();
		}

		&__text {
			padding-top: 30px;
			padding-right: 30px;
		}

		&__image {
			width: 470px;
			height: auto;
			min-width: 470px;
		}
	}

	@media (min-width: $screen-xl-min) {
		padding-top: 90px;
		padding-bottom: 90px;

		ul {
			padding: 0;
			margin: 0 -30px;
			list-style: inside;
			@include flexbox();
			@include flex-wrap(wrap);

			li {
				width: 50%;
				padding: 0 30px;
				margin-bottom: 20px;
			}
		}

		&__text {
			padding-top: 58px;
			padding-right: 86px;
		}

		&__image {
			min-height: 510px;
		}
	}
}

.modal {
	width: 280px;
	padding: 20px;
	background: #fff;
	@include border-radius(3px);

	&__heading {
		color: #000;
		font-size: 18px;
		font-weight: 700;
		line-height: 18px;
		position: relative;
	//	letter-spacing: -1px;
		font-family: $font-second;
		text-transform: uppercase;
		margin: 0 -10px 25px -10px;
	}

	@media (min-width: $screen-sm-min) {
		width: 370px;
		padding: 50px;

		&__heading {

			span {
				position: relative;
				padding-bottom: 12px;
				display: inline-block;

				&:before {
					left: 0;
					right: 0;
					bottom: 0;
					height: 5px;
					content: '';
					display: block;
					position: absolute;
					background: rgb(255,255,255); /* Old browsers */
					background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(206,206,206,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
				}
			}
		}
	}

}

.heading {
	color: #fff;
	padding-top: 30px;
	text-align: center;
	padding-bottom: 25px;
	background: url("../img/heading__bg.jpg") 50% 50% no-repeat;
	background-size: cover;

	h1 {
		color: #fff;
		padding: 9px 0;
		margin-bottom: 5px;
		text-align: center;
		background: url("../img/h1_bg.png") 50% 50% repeat-y;
		background-size: cover;
	}

	@media (min-width: $screen-sm-min) {

		h1 {
			background-size: auto auto;
		}
	}
}

.page404 {
	margin: 0 auto;
	max-width: 370px;
	padding-top: 40px;
	padding-bottom: 50px;

	@media (min-width: $screen-sm-min) {
		padding-top: 50px;
		padding-bottom: 60px;
	}
}

.subnav {
	display: none;
	font-size: 0;
	line-height: 0;
	padding-top: 25px;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;

		> li {
			margin-bottom: 0;
			display: inline-block;

			> a {
				font-size: 13px;
				font-weight: 700;
				line-height: 15px;
				padding: 15px 30px;
				display: inline-block;
				text-decoration: none;
				text-transform: uppercase;
				font-family: $font-second;
				@include border-radius(3px 3px 0 0);

				&:hover {
					color: #000;
				}
			}

			&.active {

				> a {
					background: #f8f8f8;

					&:hover {
						color: $color-blue;
					}
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {
		display: block;
	}
}

.content-gray {
	padding-top: 55px;
	background: #f8f8f8;

}

.content {
	padding-top: 50px;
	padding-bottom: 60px;

	h2 {
		margin-bottom: 30px;
	}

	@media (min-width: $screen-md-min) {
		padding-top: 58px;
	}

}

.content-dealers {

	@media (min-width: $screen-sm-min) {
		padding-bottom: 60px;
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {
		padding-bottom: 90px;
	}
}

.content-overflow {
	max-width: 100%;
	overflow: hidden;
}

.dealers {

	&__contact {
		display: none;
	}

	&__map {
		height: 430px;
		position: relative;

		&:before {
			top: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			left: 70px;
			content: '';
			display: block;
			position: absolute;
			background: transparent;
		}

		#map {
			height: 100%;
		}
	}

	&__list {
		padding-right: 16px;
	}

	.scroll-y {
		top: 0;
		right: 0;
		height: 100%;
		width: 10px;
		background: #dedede;
		position: absolute;
	}

	.scroll-element div {
		display: block;
		height: 100%;
		left: 0;
		top: 0;
		width: 100%;
	}

	.scroll-element {
		z-index: 10;
	}

	.scroll-bar {
		position: absolute;
		background: #c2c2c2;
		right: 0 !important;
		width: 10px !important;
		left: auto !important;
	}

	@media (min-width: $screen-sm-min) {
		margin: 0 auto;
		max-width: 570px;
	}

	&__wrap {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		opacity: 0;
		visibility: hidden;
		position: absolute;
		@include flexbox();

		&.visible {
			opacity: 1;
			visibility: visible;
		}
	}

	&__box {
		margin: auto;
		max-width: 370px;
		background: #fff;
		padding: 30px 30px;
		position: relative;
		@include border-radius(3px);

		&__heading {
			font-size: 13px;
			line-height: 15px;
			margin-bottom: 10px;
			letter-spacing: -1px;
			font-family: $font-second;
			text-transform: uppercase;

			a {
				color: $color-blue;
				text-decoration: none;
				border-bottom: 1px solid #b7cde5;

				&:hover {
					border-bottom-color: transparent;
				}
			}
		}

		&__address {
			color: #666;
			font-size: 14px;
			line-height: 20px;
		}

		ul {
			margin: 0;
			list-style: none;
			padding: 20px 0 0 0;

			li {
				margin-bottom: 5px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		&_close {
			z-index: 10;
			top: 10px;
			right: 10px;
			width: 30px;
			height: 30px;
			font-size: 0;
			outline: none;
			line-height: 0;
			cursor: pointer;
			position: absolute;
			display: inline-block;
			border: 1px solid #cddfee;
			@include border-radius(50%);

			&:after,
			&:before {
				top: 50%;
				left: 50%;
				width: 12px;
				height: 1px;
				z-index: 10;
				content: '';
				margin-top: -1px;
				margin-left: -6px;
				position: absolute;
				display: inline-block;
				background: $color-blue;
			}

			&:after {
				@include rotate(45deg);
			}

			&:before {
				@include rotate(-45deg);
			}

			&:hover {
				background: $color-blue;

				&:after {
					background: #fff;
				}

				&:before {
					background: #fff;
				}
			}

			&:active {
				@include box-shadow(inset 0px 2px 3px 0px rgba(0, 0, 0, 0.26));
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		width: 900px;
		padding: 0 15px;
		max-width: inherit;
		@include clearfix();

		&__contact {
			float: left;
			width: 400px;
			height: 570px;
			display: block;
			position: relative;
			padding-right: 15px;
		}

		&__map {
			float: left;
			width: 470px;
			height: 570px;

			&:before {
				display: none;
			}
		}

		.scroll-wrap {
			height: 570px;
		}

		&__wrap {
			opacity: 0;
			visibility: hidden;
		}

		&__wrap {

			&.visible {
				opacity: 0;
				visibility: hidden;
			}
		}

		&__box {
			padding: 35px 40px;
		}
	}

	@media (min-width: $screen-xl-min) {
		width: 1200px;

		&__contact {

		}

		&__map {
			width: 770px;
		}
	}
}

.contactBox {
	background: #fff;
	padding: 35px 40px;
	margin-bottom: 10px;
	@include border-radius(3px);

	&:last-child {
		margin-bottom: 0;
	}

	&__heading {
		font-size: 13px;
		font-weight: 700;
		line-height: 15px;
		margin-bottom: 10px;
		font-family: $font-second;
		text-transform: uppercase;

		a {
			color: $color-blue;
			text-decoration: none;
			border-bottom: 1px solid #b7cde5;

			&:hover {
				border-bottom-color: transparent;
			}
		}
	}

	&__address {
		color: #666;
		font-size: 14px;
		line-height: 20px;
	}

	ul {
		margin: 0;
		list-style: none;
		padding: 30px 0 0 0;

		li {
			margin-bottom: 5px;
		}
	}
}

.docs {
	padding: 0;
	max-width: 800px;
	list-style: none;
	margin: 0 auto 30px auto;

	> li {
		padding-top: 25px;
		padding-bottom: 15px;
		border-bottom: 1px solid #e5e5e5;
	}

	&__image {
		width: 70px;
		display: block;
		max-width: 70px;
		position: relative;
		margin-bottom: 15px;

		a {
			display: block;
			position: relative;

			i {
				right: 0;
				bottom: 0;
				height: 14px;
				font-size: 14px;
				line-height: 14px;
				position: absolute;
				@include transition(.3s);
			}

			&:hover {

				i {
					top: 50%;
					left: 50%;
					margin: -7px 0 0 -5px;
					@include transition(.3s);
				}
			}
		}
	}

	&__text {
		color: #666;
		font-size: 14px;
		line-height: 20px;

		span {

		}
	}

	@media (min-width: $screen-sm-min) {

		> li {
			padding: 30px 0;
			@include flexbox();
		}

		&__text {
			padding-left: 30px;
			@include flexbox();
			@include flex-grow(1);

			span {
				width: 100%;
				margin: auto 0;
				display: inline-block;
			}
		}
	}

}

.pagination {
	padding: 0;
	font-size: 0;
	line-height: 0;
	margin: 0 -3px;
	list-style: none;
	text-align: center;

	> li {
		padding: 0 3px;
		margin-bottom: 6px;
		display: inline-block;

		> a {
			color: #999;
			width: 30px;
			height: 30px;
			padding: 6px 0;
			font-size: 14px;
			line-height: 16px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			border: 1px solid transparent;
			@include border-radius(50%);


			&:hover {
				color: #000;
				background: #e6e6e6;
				border-color: #e6e6e6;
			}
		}


		&.active {

			> a {
				color: #000;
				background: transparent;
				border-color: #000;
			}
		}

		&:first-child {
			padding-right: 20px;
		}

		&:last-child {
			padding-left: 20px;
		}

		&:first-child,
		&:last-child {

			> a {
				color: #000;
				font-size: 16px;
				border-color: #dedede;

				&:hover {
					color: #000;
					background: #e6e6e6;
					border-color: #e6e6e6;
				}
			}
		}
	}
}

.text-content {
	margin: 0 auto;
	max-width: 770px;
}

.imgBlock {

	&__item {
		margin-bottom: 30px;

		a {
			display: block;
		}
	}

	@media (min-width: $screen-sm-min) {
		@include flexbox();
		margin: 0 -15px;

		&__item {
			width: 50%;
			padding: 0 15px;
		}
	}
}

.image {

	a {
		display: block;
	}
}

.image-description {
	padding: 10px 0;
	font-style: italic;
	text-align: center;
}

.partner {
	width: 270px;
	background: #fff;
	margin: 0 auto 10px auto;

	&__logo {
		font-size: 0;
		line-height: 0;
		text-align: center;
		padding: 15px 10px;
		border-bottom: 1px solid #f8f8f8;
		@include flexbox();

		img {
			margin: auto;
			display: inline-block;
		}
	}

	&__info {
		padding: 15px 20px;
	}

	&__name {
		font-size: 13px;
		font-weight: 700;
		line-height: 20px;
		margin-bottom: 15px;
		text-transform: uppercase;
		font-family: $font-second;

		a {
			color: $color-blue;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		width: 100%;
		display: table;

		&__logo {
			width: 200px;
			padding: 30px 15px;
			display: table-cell;
			vertical-align: middle;
		}

		&__info {
			padding: 30px;
			display: table-cell;
			vertical-align: middle;
		}
	}

	@media (min-width: $screen-lg-min) {


		&__logo {
			width: 370px;
			padding: 40px 30px;
		}

		&__info {
			padding: 30px 50px 15px 30px;
		}
	}

}

.reviews {
	padding: 0;
	list-style: none;
	margin: 0 0 50px 0;

	> li {
		background: #fff;
		margin-bottom: 1px;
		padding: 25px 30px 30px 30px;
	}

	a {
		display: block;
		min-height: 40px;
		padding-left: 50px;
		position: relative;
		color: $color-blue;
		text-decoration: none;
		@include flexbox();


		span {
			border-bottom: 1px dashed $color-blue;
		}

		&:hover {

			span {
				border-bottom-color: transparent;
			}

		}
	}

	&__icon {
		left: 0;
		top: 50%;
		width: 32px;
		height: 40px;
		display: block;
		margin-top: -20px;
		position: absolute;
	}

	&__text {
		margin: auto 0;
	}

	@media (min-width: $screen-sm-min) {

		> li {
			padding: 25px 70px 30px 30px;
		}
	}
}

.news-row {
	padding-bottom: 10px;
}

.news {
	width: 270px;
	background: #fff;
	margin: 0 auto 20px auto;

	&__image {
		padding: 10px;

		a {
			width: 250px;
			height: 155px;
			display: block;
			overflow: hidden;
			background: url("../img/no-image.png") 50% 50% no-repeat;
		}
	}

	&__intro {
		font-size: 15px;
		line-height: 20px;
		padding: 10px 30px 30px 30px;

		a {

		}
	}

	&__inner {

	}

	&__date {
		color: #999;
		font-size: 12px;
		line-height: 20px;
		margin-bottom: 6px;
	}

	@media (min-width: $screen-md-min) {
		width: 100%;
		display: table;

		&__image {
			width: 180px;
			display: table-cell;

			a {
				width: 160px;
				height: auto;
				min-height: 120px;
			}
		}

		&__intro {
			display: table-cell;
			vertical-align: middle;
			padding: 10px 30px 10px 20px;
		}
	}
}

.contact-row {
	margin-bottom: 30px;

	.contact-elem {
		margin-bottom: 5px;
	}

	@media (min-width: $screen-lg-min) {
		margin: 0 -15px 30px -15px;
		@include flexbox();
		@include flex-wrap(wrap);

		.contact-elem {
			width: 50%;
			padding: 0 15px;
			margin-bottom: 0;
		}
	}
}

.card {
	height: 100%;
	background: #fff;
	padding: 15px 20px;

	&__heading {
		color: #000;
		font-size: 13px;
		font-weight: 700;
		line-height: 15px;
		margin-bottom: 15px;
		font-family: $font-second;
		text-transform: uppercase;
	}

	&__data {
		color: #666;
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 15px;

		span {
			display: block;
		}

		strong {
			color: #000;
			font-weight: 600;
		}
	}

	&__view {
		font-size: 14px;
		line-height: 17px;
		color: $color-blue;
		text-decoration: none;
		border-bottom: 1px dashed $color-blue;

		&:hover {
			border-bottom-color: transparent;
		}
	}

	@media (min-width: $screen-sm-min) {
		padding: 35px 50px 35px 40px;

		&__data {

			span {
				display: inline;
			}
		}
	}
}

.place {

	&__content {
		margin-bottom: 30px;
	}

	&__elem {
		margin-bottom: 5px;
	}

	&__map {
		height: 400px;

		#map {
			height: 100%;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__content {
			margin: 0 -15px;
			@include flexbox();
			@include flex-wrap(wrap);
		}

		&__elem {
			width: 50%;
			padding: 0 15px;
			margin-bottom: 30px;
		}

		&__map {
			height: 425px;
		}
	}

	@media (min-width: $screen-xl-min) {
		@include flexbox();

		&__content {
			margin: 0;
			width: 400px;
			padding-right: 30px;
		}

		&__elem {
			width: 100%;
			padding: 0;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&__map {
			width: 770px;
			height: auto;
		}
	}
}

.second-contact {
	margin-bottom: -20px;

	.second-contact-item {
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 25px;

		h3 {
			color: #000;
			font-size: 14px;
			letter-spacing: -0.5px;
			margin-bottom: 10px;
		}

		p {
			margin-bottom: 10px;

			span {
				color: #666;
				display: block;
			}

			strong {
				color: #000;
				font-weight: 600;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		margin: 0 -10px -17px 0;
		@include flexbox();
		@include flex-wrap(wrap);

		.second-contact-item {
			width: 33.33%;
			padding: 0 10px;
			margin-bottom: 50px;
			@include justify-content(flex-start);
		}
	}

	@media (min-width: $screen-xl-min) {

		.second-contact-item {
			width: auto;
			margin-bottom: 0;
			padding: 0 10px 0 0;
			min-width: 200px;
		}
	}
}

.contactModal {
	padding: 0;
	height: 360px;
	max-width: 375px;
	background: #fff;
	position: relative;

	.modal__heading {
		margin-bottom: 15px;
	}

	&__wrap {
		padding: 35px 35px 10px 30px;
	}

	&__data {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			margin: 0;
			color: #666;
			font-size: 14px;
			line-height: 20px;
			padding: 25px 0;
			border-bottom: 1px solid #e5e5e5;

			&:last-child {
				border-bottom: none;
			}

			h3 {
				margin-bottom: 15px;
			}

			strong {
				color: #000;
				font-weight: 600;
			}
		}
	}

	.scroller {
		height: 100%;
		max-height: 100%;
	}

	.scroll-y {
		top: 0;
		right: 0;
		height: 100%;
		width: 5px;
		background: #aaaaaa;
		position: absolute;
	}

	.scroll-element div {
		display: block;
		height: 100%;
		left: 0;
		top: 0;
		width: 100%;
	}

	.scroll-element {
		z-index: 10;
	}

	.scroll-bar {
		position: absolute;
		background: #cccccc;
		right: 0 !important;
		width: 5px !important;
		left: auto !important;
	}

	@media (min-width: $screen-md-min) {
		width: 375px;
		height: 480px;
	}

}

.accordion {

	&__item {
		padding: 25px 0;
		background: #fff;
		position: relative;
		margin-bottom: 10px;

		&:after,
		&:before {
			top: 0;
			z-index: 10;
			content: '';
			width: 500px;
			height: 100%;
			background: #fff;
			position: absolute;
		}

		&:after {
			left: -500px;
		}

		&:before {
			right: -500px;
		}


		&.active {

			.accordion__hide {
				display: block;
			}

			.accordion__footer {

				a {
					padding: 9px 0 0 0;
				}

				i {
					top: 0;
					bottom: auto;
					@include rotate(180deg);
				}

				.open {
					display: none;
				}

				.close {
					display: inline;
				}
			}
		}
	}

	&__hide {
		display: none;
		padding-bottom: 30px;
	}

	&__footer {
		text-align: center;

		a {
			position: relative;
			padding-bottom: 13px;
			display: inline-block;
			text-decoration: none;

			span {
				color: $color-blue;
				border-bottom: 1px dashed $color-blue;
			}

			&:hover {

				span {
					border-bottom-color: transparent;
				}
			}
		}

		i {
			bottom: 0;
			left: 50%;
			height: 12px;
			color: $color-blue;
			font-size: 12px;
			line-height: 12px;
			margin-left: -5px;
			display: inline-block;
			position: absolute;
		}

		.open {
			display: inline;
		}

		.close {
			display: none;
		}
	}

	@media (min-width: $screen-sm-min) {
		margin-bottom: 30px;
	}

	@media (min-width: $screen-md-min) {

		&__item {
			margin-bottom: 20px;
			padding: 35px 40px 15px 40px;

			&:after,
			&:before {
				display: none;
			}
		}
	}
}


@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}