@font-face {
	font-family:'PlumbMain';
	src: url('../fonts/Plumb/Plumb-Bold.eot');
	src: url('../fonts/Plumb/Plumb-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Plumb/Plumb-Bold.woff2') format('woff2'),
	url('../fonts/Plumb/Plumb-Bold.woff') format('woff'),
	url('../fonts/Plumb/Plumb-Bold.ttf') format('truetype'),
	url('../fonts/Plumb/Plumb-Bold.otf') format('opentype'),
	url('../fonts/Plumb/Plumb-Bold.svg#Plumb-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}

@font-face {
	font-family:'PlumbMain';
	src: url('../fonts/Plumb/Plumb-Regular.eot');
	src: url('../fonts/Plumb/Plumb-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Plumb/Plumb-Regular.woff2') format('woff2'),
	url('../fonts/Plumb/Plumb-Regular.woff') format('woff'),
	url('../fonts/Plumb/Plumb-Regular.ttf') format('truetype'),
	url('../fonts/Plumb/Plumb-Regular.otf') format('opentype'),
	url('../fonts/Plumb/Plumb-Regular.svg#Plumb-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}