.footer {
	color: #fff;

	&__top {
		padding-top: 50px;
		padding-bottom: 25px;
		background: #005aaa;
	}

	&__nav {
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(space-around);

		&_item {
			width: 50%;
			text-align: center;
		}

		h4 {
			color: #fff;
			font-size: 13px;
			font-weight: 700;
			line-height: 19px;
			margin-bottom: 25px;
			text-transform: uppercase;
			font-family: $font-second;
		}

		ul {
			padding: 0;
			font-size: 13px;
			line-height: 19px;
			list-style: none;
			margin: 0 0 25px 0;

			li {
				margin-bottom: 10px;

				&:last-child {
					margin-bottom: 0;
				}

				a {
					color: #fff;
					opacity: 0.5;
					@include transition(.3s);

					&:hover {
						opacity: 1;
						@include transition(.3s);
					}

				}
			}
		}
	}

	&__bottom {
		padding: 25px 0;
		text-align: center;
		background: #00539c;
	}

	&__company {
		opacity: 0.5;
		font-size: 12px;
		line-height: 15px;
		margin-bottom: 12px;
	}

	&__privacy {
		font-size: 11px;
		line-height: 15px;
		margin-bottom: 13px;

		a {
			color: #fff;
			opacity: 0.5;
			text-decoration: underline;

			&:hover {
				opacity: 1;
				text-decoration: none;
			}
		}
	}

	&__contact {
		padding: 0;
		font-size: 15px;
		list-style: none;
		line-height: 20px;
		margin: 0 0 15px 0;

		> li {

			&:last-child {
				display: none;
			}
		}

		.tel {
			color: #fff;
			font-weight: 700;
			text-decoration: none;
		}

		.btn-callback {
			color: #fff;
			font-size: 13px;
			line-height: 15px;
			margin-bottom: 12px;
			text-decoration: none;
			border-bottom: 1px dashed #4d87ba;

			&:hover {
				border-bottom-color: transparent;
			}
		}
	}

	&__dev {
		font-size: 12px;
		line-height: 20px;

		a {
			opacity: 1;
			color: #fff;
			padding: 2px 45px 2px 0;
			display: inline-block;
			text-decoration: none;
			background: url("../img/dev_logo.png") 100% 50% no-repeat;

			span {
				opacity: 0.5;
				@include transition(0.3s);
			}

			&:hover {

				span {
					opacity: 1;
					@include transition(0.3s);
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		&__top {
			padding-top: 55px;
			padding-bottom: 30px;
			background: url("../img/footer__top.png") 50% 50% no-repeat;
			background-size: cover;
		}

		&__nav {

			&_item {
				width: 25%;
			}
		}

		&__bottom {
			text-align: left;
			padding-bottom: 30px;
		}

		&__row {
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-between);
		}

		&__company {
			width: 60%;
			margin-bottom: 15px;
		}

		&__privacy {
			width: 170px;
			margin-bottom: 15px;
		}

		&__contact {
			width: 60%;
			margin-bottom: 0;

			> li {
				margin-bottom: 0;

				&:last-child {
					display: block;
				}
			}
		}

		&__dev {
			width: 130px;
			line-height: 15px;
			margin-right: 40px;
			margin-bottom: 0;

			a {
				display: inline-block;
				min-height: 24px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__top {
			padding-top: 85px;
			padding-bottom: 66px;
		}

		&__bottom {
			padding-top: 22px;
			padding-bottom: 25px;
		}

		&__row {
			@include flex-wrap(nowrap);
		}

		&__company {
			width: 300px;
			padding-top: 3px;
			margin-bottom: 0;
		}

		&__privacy {
			width: 140px;
			margin-bottom: 0;
		}

		&__contact {
			width: 205px;
			text-align: center;
			margin-right: 90px;
		}

		&__dev {
			width: 135px;
			margin-right: 0;
		}
	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {

		&__privacy {
			width: 270px;
			padding-top: 10px;
		}

		&__contact {
			margin-right: 120px;
		}


		&__dev {
			width: auto;
			margin-right: 0;
			margin-top: 8px;
			line-height: 24px;
			white-space: nowrap;
		}
	}
}