// Header

.page {


	&.nav-open {
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		position: fixed;

		.nav-close {
			display: block;
		}

		.header {

			&:before {
				top: 0;
				left: 0;
				content: '';
				z-index: 10;
				height: 100%;
				width: 100%;
				position: fixed;
				background: rgba(0,0,0,0.8);
			}

			&__menu {
				display: block;
			}

			&__toggle {

				span {
					position: relative;

					&:nth-child(1) {
						top: 5px;
						@include rotate(45deg);
					}

					&:nth-child(2) {
						@include rotate(-45deg);
					}

					&:nth-child(3) {
						display: none;
					}
				}
			}
		}
	}

	@media (min-width: $screen-xl-min) {
		position: relative;

		&.nav-open {
			overflow: auto;
			position: relative;

			.nav-close {
				display: none;
			}

			.header {

				&:before {
					display: none;
				}

				&__menu {

				}
			}
		}
	}
}

.header {
	z-index: 1010;
	background: #fff;
	position: relative;
	padding-bottom: 20px;

	.container {
		padding-top: 85px;
		position: relative;
	}

	&__toggle {
		top: 25px;
	//	z-index: 1010;
		left: 15px;
		width: 40px;
		font-size: 0;
		line-height: 0;
		display: block;
		color: #999999;
		position: absolute;
		text-align: center;
		text-decoration: none;

		i {
			width: 40px;
			height: 40px;
			display: block;
			border: 1px solid #ccdeee;
			padding: 14px 12px 8px 12px;
			@include border-radius(2px);

			span {
				width: 100%;
				height: 2px;
				margin-bottom: 3px;
				display: inline-block;
				background: $color-blue;
			}
		}

		> span {
			color: #999;
			display: none;
			font-size: 12px;
			line-height: 16px;
		}
	}

	&__logo {
		width: 270px;
		display: block;
	}

	&__contact {
		top: 25px;
		right: 15px;
		margin: 0;
		list-style: none;
		position: absolute;
		text-align: center;
		padding: 10px 0 0 0;

		> li {
			margin-bottom: 0;

			&:last-child {
				display: none;
			}
		}

		.tel {
			color: #000;
			font-size: 18px;
			font-weight: 800;
			line-height: 20px;
			text-decoration: none;

			span {
				color: $color-blue;
			}
		}
	}

	&__menu {
		top: 0;
		left: 0;
		bottom: 0;
		width: 285px;
		z-index: 1000;
		display: none;
		position: fixed;
		background: #fff;

		&:before {
			top: 0;
			left: 0;
			bottom: 0;
			margin-left: -500px;
			content: '';
			z-index: 10;
			height: 100%;
			width: 500px;
			position: absolute;
			background: #fff;
		}

		&_wrap {
			height: 100%;
			overflow: auto;
			position: relative;
			padding: 90px 30px 30px 80px;
		}
	}

	&__nav {
		margin: 0;
		list-style: none;


		li {
			margin-bottom: 0;
		}

		> li {

			> a {
				color: #000;
				font-size: 15px;
				font-weight: 700;
				line-height: 19px;
				padding: 10px 16px 10px 0;
				white-space: nowrap;
			//	letter-spacing: -1px;
				text-decoration: none;
				position: relative;
				display: inline-block;
				text-transform: uppercase;
				font-family: $font-second;

				&:hover {
					color: $color-blue;
				}

				i {
					top: 50%;
					right: 0;
					height: 12px;
					font-size: 12px;
					line-height: 12px;
					margin-top: -7px;
					display: inline-block;
					position: absolute;
				}
			}

			&:hover {

				> a {

					i {
						@include rotate(180deg);
					}
				}

				> ul {
					display: block;
				}
			}

			> ul {
				margin: 0;
				padding: 0;
				display: none;
				list-style: none;

				> li {
					position: relative;
					border-bottom: 1px solid #09509b;

					&:last-child {
						border-bottom: none;
					}

					> a {
						width: 100%;
						color: #90b9e3;
						font-size: 13px;
						font-weight: 700;
						line-height: 15px;
						padding: 15px 20px;
						white-space: nowrap;
						display: inline-block;
						text-decoration: none;
						background: $color-blue;
						text-transform: uppercase;
						font-family: $font-second;

						span {
							position: relative;
						}

						&:hover {
							color: #fff;
						}


						i {
							margin-left: 10px;
							font-size: 12px;
							line-height: 12px;
							position: absolute;
						}
					}

					&:hover {

						> a {
							border-bottom: 1px solid #09509b;

							i {
								@include rotate(180deg);
							}
						}

						> ul {
							display: block;
						}
					}

					> ul {
						margin: 0;
						padding: 0;
						display: none;
						list-style: none;

						> li {
							position: relative;
							border-bottom: 1px solid #0f5baa;

							&:last-child {
								border-bottom: none;
							}

							> a {
								width: 100%;
								color: #90b9e3;
								font-size: 13px;
								font-weight: 700;
								line-height: 15px;
								padding: 15px 20px 15px 30px;
								background: #1764b5;
								letter-spacing: -1px;
								display: inline-block;
								text-decoration: none;
								text-transform: uppercase;
								font-family: $font-second;

								&:hover {
									color: #fff;
									background: #1a6abe;
								}
							}
						}
					}
				}
			}
		}
	}

	&__search {
		top: 25px;
		left: 210px;
		width: 40px;
		height: 40px;
		position: absolute;
	}

	&__lng {
		margin: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		padding: 10px 0 0 0;

		> li {
			float: left;
			margin-bottom: 0;
			margin-right: 5px;

			a {
				width: 22px;
				display: inline-block;

				&:hover {
					opacity: 0.6;
				}

				&:active {
					opacity: 1;
					@include box-shadow(inset 0px 2px 3px 0px rgba(0, 0, 0, 0.26));
				}
			}
		}
	}

	.search {
		top: 0;
		right: 0;
		width: 170px;
		position: absolute;

		&__input {
			margin: 0;
			width: 100%;
			color: #aaaaaa;
			outline: none;
			font-size: 14px;
			line-height: 20px;
			padding: 9px 40px 9px 15px;
			display: inline-block;
			background: #f7f7f7;
			border: 1px solid #f7f7f7;
			@include placeholder(#aaa);
			@include border-radius(3px);

			&::-ms-clear {
				display: none;
				width: 0;
				height: 0;
			}

			&:focus {
				color: #aaa;
				@include placeholder(transparent);
			}
		}

		&__button {
			top: 0;
			right: 0;
			z-index: 10;
			width: 40px;
			height: 40px;
			border: none;
			outline: none;
			display: block;
			cursor: pointer;
			padding: 10px 0;
			font-size: 18px;
			line-height: 18px;
			position: absolute;
			color: $color-blue;
			text-align: center;
			background: transparent;
		}
	}

	.nav-close {
		z-index: 1020;
		left: 15px;
		top: 25px;
		width: 40px;
		height: 40px;
		display: none;
		cursor: pointer;
		position: absolute;
		border: 1px solid #ccdeee;
		@include border-radius(2px);

		&:after,
		&:before {
			top: 50%;
			left: 50%;
			width: 12px;
			height: 2px;
			content: '';
			z-index: 1010;
			margin: -1px 0 0 -6px;
			display: inline-block;
			background: $color-blue;
			position: absolute;
		}

		&:after {
			@include rotate(45deg);
		}

		&:before {
			@include rotate(-45deg);
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-bottom: 40px;

		.container {
			padding-top: 35px;
			padding-left: 70px;
		}

		&__toggle {
			top: 35px;

			> span {
				display: inline;
			}
		}

		&__contact {
			top: 35px;
			padding-top: 0;

			> li {

				&:last-child {
					display: block;
					padding-top: 6px;
				}
			}
		}
	}


	@media (min-width: $screen-md-min) {

		.container {
			padding-top: 40px;
			padding-left: 85px;
		}

		&__contact {
			margin-top: -2px;
		}
	}

	@media (min-width: $screen-lg-min) {

		.container {
			padding-left: 100px;
		}
	}

	@media (min-width: $screen-xl-min) {
		padding-top: 37px;

		.container {
			padding-top: 0;
			padding-left: 15px;
		}

		&__toggle {
			display: none;
		}

		&__logo {
			float: left;
			width: 310px;
			margin-right: 30px;
		}

		&__menu {
			padding: 13px 0 0 0;
			top: auto;
			left: auto;
			float: left;
			display: block;
			height: auto;
			width: auto;
			min-height: inherit;
			position: relative;
			background: transparent;
			@include clearfix();

			&_wrap {
				padding: 0;
				height: auto;
				overflow: visible;
				@include clearfix();
			}
		}

		&__nav {
			float: left;
			margin: 0 15px 0 0;
			padding: 0;

			> li {
				float: left;
				position: relative;

				&:last-child {
					margin-right: 0;
				}

				> a {
					color: #000;
					padding: 10px 20px;
					white-space: nowrap;
				//	letter-spacing: -1px;

					&:hover {
						color: $color-blue;
						border-bottom: none;
					}

					i {
						display: none;
					}
				}

				&:hover {

					> a {
						color: $color-blue;
						border-bottom: none;
					}

					> ul {
						display: block;
					}
				}

				> ul {
					left: 0;
					top: 100%;
					display: none;
					padding: 7px 0 0 0;
					position: absolute;

					&:before {
						left: 50%;
						top: -5px;
						content: '';
						z-index: -1px;
						margin-left: -6px;
						position: absolute;
						border: 6px solid transparent;
						border-bottom: 6px solid $color-blue;
					}

					> li {
						position: relative;

						&:last-child {
							border-bottom: none;
						}

						> a {
							padding: 15px 20px;
							white-space: nowrap;
							letter-spacing: -1px;
							border-bottom: none;

							i {
								display: none;
							}

							&:hover {
								border-bottom: none;
							}
						}

						&:hover {

							> a {
								color: #fff;
								border-bottom: none;
								background: #1a6abe;
							}

							> ul {
								display: block;
							}
						}

						> ul {
							top: 0;
							margin: 0;
							padding: 0;
							left: 100%;
							display: none;
							list-style: none;
							position: absolute;

							> li {
								position: relative;
								border-bottom: 1px solid #0f5baa;

								&:last-child {
									border-bottom: none;
								}

								> a {
									width: 100%;
									color: #90b9e3;
									font-size: 13px;
									font-weight: 700;
									line-height: 15px;
									padding: 15px 20px;
									background: #1764b5;
									white-space: nowrap;
									letter-spacing: -1px;
									display: inline-block;
									text-decoration: none;
									text-transform: uppercase;
									font-family: $font-second;

									&:hover {
										color: #fff;
										background: #1a6abe;
									}
								}
							}
						}
					}
				}
			}
		}

		&__search {
			top: auto;
			left: auto;
			right: auto;
			float: left;
			padding: 1px;
			width: 40px;
			height: 40px;
			display: block;
			overflow: hidden;
			margin-top: -1px;
			margin-right: 33px;
			position: relative;

			.search {
				width: 275px;

				&__input {
					background: transparent;
					border-color: transparent;
				}
			}

			&:hover {
				overflow: inherit;

				.search {

					&__input {
						background: #f7f7f7;
						border-color: #f7f7f7;
					}
				}
			}
		}

		&__lng {
			float: left;
			padding-top: 12px;

			display: block;
		}

		&__contact {
			top: auto;
			right: auto;
			float: right;
			position: relative;
		}
	}
}




