* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}



body {
	color: $color-base;
	font-family: $font-base;
	background-color: $body-bg;
	font-size: $font-size-base;
	line-height: $line-height-base;
}

.container {
	max-width: 320px;
	margin-right: auto;
	margin-left: auto;
	padding-left:  ($gutter / 2);
	padding-right: ($gutter / 2);
	@include clearfix;

	&.container-mobile {
		padding: 0;
		max-width: inherit;
	}

	@media (min-width: $screen-sm-min) {
		max-width: inherit;
		width: $container-sm;

	}

	@media (min-width: $screen-md-min) {
		width: $container-md;

		&.container-mobile {
			padding-left:  ($gutter / 2);
			padding-right: ($gutter / 2);
		}
	}

	@media (min-width: $screen-lg-min) {
		width: $container-lg;
	}

	@media (min-width: $screen-xl-min) {
		width: $container-xl;
	}
}

.page {
	width: 100%;
	min-height: 100vh;
	@include flexbox();
	@include flex-direction(column);

}


.main {
	@include flex-grow(1);
}


//
//  Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0;
	padding: 0;
	line-height: 1.2;
}

h1, .h1 {
	font-size: 22px;
	font-weight: 700;
	line-height: 22px;
	position: relative;
	font-family: $font-second;
	text-transform: uppercase;

}

h2, .h2 {
	color: #000;
	font-size: 18px;
	font-weight: 700;
	line-height: 18px;
	position: relative;
	margin-bottom: 30px;
//	letter-spacing: -1px;
	font-family: $font-second;
	text-transform: uppercase;

	span {
		position: relative;
		padding-bottom: 12px;
		display: inline-block;

		&:before {
			left: 0;
			right: 0;
			bottom: 0;
			height: 5px;
			content: '';
			display: block;
			position: absolute;
			background: rgb(255,255,255); /* Old browsers */
			background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(206,206,206,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
		}
	}
}

h3, .h3 {
	color: #000;
	font-size: 13px;
	font-weight: 700;
	line-height: 19px;
	margin-bottom: 20px;
//	letter-spacing: -1px;
	text-transform: uppercase;
	font-family: $font-second;

	&.fs-15 {
		font-size: 15px;
		line-height: 20px;
		margin-bottom: 30px;
	}
}

h4, .h4 {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 20px;
}

h5, .h5 {
	font-size: 1rem;
	margin-bottom: 1rem;
}

h6, .h6 {
	font-size: 0.875rem;
	margin-bottom: 0.75rem;
}

p {
	margin: 0 0 15px 0;
}

a {
	outline: none;
	color: $color-blue;
	text-decoration: underline;


	&:hover {
		text-decoration: none;
	}

	&:visited {
///		color: $color-blue;
	}
}


ul {
	margin: 0;
	padding: 0;
	list-style: inside;

	> li {
		margin-bottom: 10px;
	}

	ul {
		margin: 0;
		padding: 10px 0 0 0;
		list-style: none;

		li {
			margin-bottom: 0;
		}
	}

	&.nomark {
		list-style: none;
	}
}

.fs-15 {
	font-size: 15px;
	line-height: 20px;
}

.mb-10 {
	margin-bottom: 10px;
}

dl {
	color: #333;
	width: 100%;
	padding: 0;
	margin: 0 0 10px 0;
	@include clearfix();

	dt {
		margin: 0;
		color: #333;
		display: block;
		font-weight: 600;
	}

	dd {
		margin: 0;
		display: block;
	}

	@media (min-width: $screen-md-min) {
		@include flexbox();

		dt {
			width: 145px;
			max-width: 145px;
		}

		dd {
			@include flex-grow(1);
		}
	}
}