.product {

	&__gallery {
		position: relative;
		margin-bottom: 55px;
	}

	&__text {
		margin-bottom: 40px;

		ul {
			margin-bottom: 5px;

			> li {
				margin-bottom: 0;
			}
		}

		p {
			margin-bottom: 5px;
		}
	}

	&__data {

		image {
			margin-bottom: 30px;

			a {
				display: block;
			}
		}
	}

	&__cert {
		width: 172px;
		margin: 0 auto;

		&_item {
			margin-bottom: 20px;

			a {
				display: block;
				border: 1px solid #f5f5f5;
			}
		}
	}

	&__pic {

		.image {
			margin-bottom: 30px;
		}
	}

	.goods__tag {
		top: 20px;
		display: none;
	}

	@media (min-width: $screen-sm-min) {

		&__cert {
			width: auto;
			margin: 0 -15px;
			@include flexbox();
			@include flex-wrap(wrap);

			&_item {
				width: 33.33%;
				padding: 0 15px;
			}
		}
	}

	@media (min-width: $screen-md-min) {


		&__gallery {
			margin-bottom: 80px;
		}

		&__pic {
			margin: 0 -15px;
			@include flexbox();

			.image {
				width: 50%;
				padding: 0 15px;
				margin-bottom: 30px;
			}
		}
	}


	@media (min-width: $screen-lg-min) {


	}

	@media (min-width: $screen-xl-min) {
		@include flexbox();
		@include flex-wrap(wrap);
		padding-top: 40px;

		&__image {
			width: 580px;
		}

		.goods__tag {
			display: inline-block;
		}

		&__info {
			width: 590px;
			padding-left: 130px;
		}

		&__text {
			width: 600px;
		}

		&__data {
			width: 570px;
			padding-left: 100px;
		}


		&__pic {
			margin: 0;
			@include flexbox();
			@include flex-direction(column);

			.image {
				width: 100%;
				padding: 0;
				margin-bottom: 30px;
			}
		}

		&__cert {
			width: 100%;
			margin: 0 10px;


			&_item {
				width: 50%;
				padding: 0 10px;
			}
		}
	}
}

.gallery {

	&__image {
		margin-bottom: 20px;
	}

	&__thumbs {
		position: relative;
		padding-right: 40px;

		&_item {
			color: #000;
			display: block;
			position: relative;
			text-decoration: none;

			.loop {
				right: 0;
				bottom: 0;
				width: 24px;
				height: 24px;
				padding: 5px 0;
				font-size: 14px;
				background: #fff;
				line-height: 14px;
				position: absolute;
				text-align: center;
				display: inline-block;
			}
		}
	}

	.thumb-slider {

	}

	.swiper-button-prev {
		display: none !important;
	}

	.swiper-button-next {
		top: 50%;
		right: 0;
		outline: none;
		width: 30px;
		height: 30px;
		z-index: 50;
		margin-top: -15px;
		border: 1px solid #dedede;
		background: transparent;
		@include border-radius(50%);

		&:after,
		&:before {
			z-index: 5;
			left: 11px;
			width: 7px;
			height: 2px;
			content: '';
			background: #000;
			position: absolute;
		}


		&:after {
			top: 11px;
			@include rotate(45deg);
		}

		&:before {
			bottom: 11px;
			@include rotate(-45deg);
		}
	}

	@media (min-width: $screen-sm-min) {
		margin: 0 auto;
		max-width: 320px;
	}

	@media (min-width: $screen-md-min) {

		max-width: 580px;
		@include clearfix();


		&__image {
			float: left;
			width: 470px;
			height: 601px;
			margin-bottom: 0;
		}

		&__thumbs {
			float: left;
			width: 110px;
			height: 601px;
			padding: 0 20px 40px 0;

		}


		.thumb-slider {
			height: 560px;
		}


		.swiper-button-next {
			top: auto;
			bottom: 0;
			margin-top: 0;
			right: 50%;
			margin-right: -15px;
			@include rotate(90deg);
		}
	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {

		max-width: inherit;
	}
}

.documents {
	margin: 0;
	padding: 0;
	list-style: none;
	@include clearfix();

	li {
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__item {
		font-size: 14px;
		line-height: 17px;
		text-decoration: none;
		@include flexbox();

		&:hover {

			.documents__text {

				> span {

					span {
						border-bottom-color: transparent;
					}
				}
			}
		}

	}

	&__image {
		width: 32px;
		display: block;
	}

	&__text {
		padding-left: 15px;
		@include flexbox();
		@include flex-grow(1);

		> span {
			margin: auto;
			width: 100%;
			display: inline-block;

			span {
				border-bottom: 1px dashed $color-blue;

			}
		}
	}


	@media (min-width: $screen-lg-min) {

		li {
			float: left;
			margin-right: 80px;
		}
	}

}

.order {
	padding: 0;
	margin: 0 auto;
	max-width: 370px;
	list-style: none;

	> li {
		margin-bottom: 10px;

		&:last-child {
			padding-top: 10px;
		}
	}

	.btn {
		width: 100%;
	}

	@media (min-width: $screen-lg-min) {
		margin: 0 -15px;
		width: auto;
		max-width: inherit;
		@include flexbox();

		> li {
			width: 25%;
			padding: 0 15px;

			&:last-child {
				padding-top: 0;
			}
		}
	}
}

.form-title {
	color: #000;
	font-size: 18px;
	font-weight: 700;
	line-height: 18px;
	position: relative;
	margin-bottom: 20px;
	letter-spacing: -1px;
	text-align: center;
	font-family: $font-second;
	text-transform: uppercase;

	@media (min-width: $screen-md-min) {

		span {
			position: relative;
			padding-bottom: 12px;
			display: inline-block;

			&:before {
				left: 0;
				right: 0;
				bottom: 0;
				height: 5px;
				content: '';
				display: block;
				position: absolute;
				background: rgb(255,255,255); /* Old browsers */
				background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(206,206,206,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(206,206,206,1) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
			}
		}
	}
}

.goods {
	color: #999;
	width: 170px;
	margin: 0 auto;
	display: block;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	position: relative;
	text-decoration: none;

	&__image {
		max-width: 100%;
		margin-bottom: 15px;
	}

	h3 {
		color: $color-blue;
		margin-bottom: 10px;
	}

	&__tag {
		left: 0;
		top: 10px;
		color: #fff;
		font-size: 10px;
		font-weight: 700;
		line-height: 16px;
		padding: 5px 10px;
		position: absolute;
		display: inline-block;
		font-family: $font-second;
		text-transform: uppercase;

		&:before {
			top: 0;
			left: 100%;
			content: '';
			width: 10px;
			height: 26px;
			position: absolute;

		}

		&.special {
			background: #e54025;

			&:before {
				background: url("../img/tag_arrow.png") 0 0 no-repeat;
			}
		}

		&.new {
			background: #0f5baa;

			&:before {
				background: url("../img/tag_arrow_blue.png") 0 0 no-repeat;
			}
		}
	}

	&:hover {

		h3 {
			text-decoration: underline;
		}
	}
}

.product-row {
	width: 170px;
	margin: 0 auto;

	.product-elem {
		width: 170px;
		margin-bottom: 55px;
	}

	@media (min-width: $screen-md-min) {
		width: auto;
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(space-between);
	}


	@media (min-width: $screen-lg-min) {
		width: 830px;


		.product-elem {
			width: 230px;
			padding: 0 30px;
			margin-bottom: 55px;
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}