$body-bg:                       #fff;

$color-base:                    #333;
$color-blue:                    #0f5baa;

// Fonts

$font-size-base:                0.875rem !default;
$font-size-lg:                  ($font-size-base * 1.25) !default;
$font-size-sm:                  ($font-size-base * .875) !default;

$font-weight-base:              400 !default;
$line-height-base:              1.785 !default;


$font-base:                     'Open Sans', Arial, sans-serif !default;
$font-second:                   'PlumbMain', Arial, sans-serif !default;

$spacer:                        1rem !default;

$link-decoration:              underline!default;
$link-hover-decoration:        none!default;


	// layout

$container-sm:                  540px !default;
$container-md:                  610px !default;
$container-lg:                  900px !default;
$container-xl:                  1200px !default;


$gutter:                        30px !default;


$screen-xs-min:                 0;
$screen-sm-min:                 576px !default;
$screen-md-min:                 768px !default;
$screen-lg-min:                 1024px !default;
$screen-xl-min:                 1230px !default;


$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
$screen-md-max:              ($screen-xl-min - 1) !default;


