
.breadcrumb {
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	text-align: center;
	margin: 0;

	> li {
		color: #fff;
		font-size: 12px;
		line-height: 20px;
		margin-bottom: 0;
		display: inline-block;

		&:after {
			content: '>>';
			padding: 0 8px;
		}

		&:last-child {

			&:after {
				display: none;
			}
		}

		> a {
			color: #fff;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}

	}
}