
.btn {
	outline: none;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	padding: 9px 30px;
	user-select: none;
	color: $color-blue;
	text-align: center;
	position: relative;
	cursor: pointer;
	white-space: nowrap;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background: transparent;
	border: 1px solid #ccdeee;
	@include transition(.2s);

	&:hover {
		color: #fff;
		background: #2575c7;
		border-color: #2575c7;
		text-decoration: none;
	}

	&:active {
		background: #2575c7;
		border-color: #2575c7;
		@include box-shadow(inset 0px 2px 3px 0px rgba(0, 0, 0, 0.26));
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}

.btn-sm {
	padding: 6px 18px;
}

.btn-md {
	padding: 14px 30px;
	@include border-radius(3px);
}

.btn-arrow-right {
	padding-right: 60px;

	span {
		padding-right: 15px;
		border-right: 1px solid $color-blue;
	}

	i {
		top: 50%;
		right: 30px;
		height: 20px;
		font-size: 20px;
		line-height: 20px;
		margin-top: -10px;
		position: absolute;
		display: inline-block;
	}

	.ico-svg {
		fill: $color-blue;
	}

	&:hover {

		span {
			border-right-color: #fff;
		}

		.ico-svg {
			fill: #fff;
		}
	}
}

.btn-blue {
	color: #fff;
	background: #0f5baa;
	border-color: #0f5baa;

	&:hover {
		background: #2575c7;
		border-color: #2575c7;
	}

	&:active {
		background: #2575c7;
		border-color: #2575c7;
	}
}

.fancybox-close-small {
	top: 10px;
	right: 10px;
	width: 30px;
	height: 30px;
	font-size: 0;
	outline: none !important;
	line-height: 0;
	color: transparent;
	border: 1px solid #cddfee;
	@include border-radius(50%);
	@include transition(0);

	&:after,
	&:before {
		top: 50%;
		left: 50%;
		width: 12px;
		height: 1px;
		z-index: 10;
		margin-top: -1px;
		margin-left: -6px;
		position: absolute;
		display: inline-block;
		background: $color-blue;
	}

	&:after {
		content: '' !important;
		@include rotate(45deg);
		@include transition(0);

	}

	&:before {
		content: '' !important;
		@include rotate(-45deg);
		@include transition(0);

	}

	&:hover {
		background: $color-blue;

		&:after {
			opacity: 1;
			background: #fff;
			visibility: visible;
			display: inline-block;
			content: '' !important;
			@include transition(0);

		}

		&:before {
			background: #fff;
			content: '' !important;
			@include transition(0);

		}
	}

	&:active {
		@include box-shadow(inset 0px 2px 3px 0px rgba(0, 0, 0, 0.26));
	}
}

.btn-row {
	margin: 0;
	padding: 20px 0 0 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	text-align: center;

	> li {
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.btn {
		min-width: 170px;
	}

	@media (min-width: $screen-sm-min) {

		li {
			padding: 0 5px;
			margin-bottom: 0;
			display: inline-block;
		}

		.btn {
			width: auto;
			min-width: inherit;
		}
	}
}
