.form-control {
	margin: 0;
	width: 100%;
	color: #aaa;
	outline: none;
	font-size: 15px;
	text-align: center;
	line-height: 20px;
	padding: 14px 15px;
	background: #f7f7f7;
	display: inline-block;
	border: 1px solid #f7f7f7;
	@include placeholder(#aaa);
	@include border-radius(3px);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:hover {
		color: #aaa;
		background: #e6e6e6;
		border-color: #e6e6e6;
	}

	&:focus {
		color: #aaa;
		background: #f7f7f7;
		border-color: #e6e6e6;
		@include placeholder(transparent);
	}
}

.form-gray {
	background: #fff;
	border-color: #fff;

	&:hover {
		background: #fff;
	}

	&:focus {
		background: #fff;
	}
}

.form-group {
	margin-bottom: 10px;
}

.btn-group {
	padding-top: 25px;

	.btn {
		width: 100%;
	}
}

