@media (max-width: 1023px) {

    .table-responsive {
        width: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
        margin-bottom: 20px;
        border: 1px solid #f4f7fa;
        -ms-overflow-style: -ms-autohiding-scrollbar;

        .table {
	        min-width: 700px;
            margin-bottom: 0;
        }
    }
}


.table {
    width: 100%;
    max-width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
	margin-bottom: 20px;
	border-collapse: collapse;

    th {
	    color: #999;
	    min-width: 130px;
        font-weight: 400;
        text-align: left;
	    padding: 10px 15px;
	    background: #fff;
        border-bottom: 1px solid #f4f7fa;

        &:first-child {
	        text-align: center;
	        border-right: 1px solid #f4f7fa;
        }
    }


    td {
	    background: #fff;
        min-width: 90px;
	    padding: 10px 15px;
	    border-bottom: 1px solid #f4f7fa;

	    &:first-child {
		  //  text-align: center;
		    border-right: 1px solid #f4f7fa;
	    }
    }

	td[rowspan] {
		background: #fff;
	}

	tr {

		&:nth-child(even) {

			td {
				background: #f4f7fa;

				&.table-subtitle {
					color: #000;
					background: #fff;
					text-align: left;
					font-size: 13px;
					font-weight: 700;
					line-height: 20px;
					letter-spacing: -0.5px;
					text-transform: uppercase;
				}
			}

			td[rowspan] {
				background: #fff;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		th {
			padding: 16px 30px;
		}

		td {
			padding: 16px 30px;
		}
	}
}
