@font-face {
    font-family:'Plumb';
    src: url('Plumb-Bold.eot');
	src: url('Plumb-Bold.eot?#iefix') format('embedded-opentype'),
		url('Plumb-Bold.woff2') format('woff2'),
		url('Plumb-Bold.woff') format('woff'),
		url('Plumb-Bold.ttf') format('truetype'),
		url('Plumb-Bold.otf') format('opentype'),
		url('Plumb-Bold.svg#Plumb-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}

@font-face {
    font-family:'Plumb';
    src: url('Plumb-Regular.eot');
	src: url('Plumb-Regular.eot?#iefix') format('embedded-opentype'),
		url('Plumb-Regular.woff2') format('woff2'),
		url('Plumb-Regular.woff') format('woff'),
		url('Plumb-Regular.ttf') format('truetype'),
		url('Plumb-Regular.otf') format('opentype'),
		url('Plumb-Regular.svg#Plumb-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0491;
}